{% import "PumAppBundle::macros.html.twig" as pum_macros %}

{# FORM THEME #}
{% if form is defined %}
    {% form_theme form with ['PumWoodworkBundle::form.html.twig', 'PumTypeExtraBundle::form.html.twig', 'PumProjectAdminBundle::form.html.twig', 'PumAppBundle::form.html.twig'] %}
{% endif %}

{# BASE #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title 'PŪM' %}</title>
        {# <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" /> #}
        {% stylesheets filter="cssrewrite" combine=true output="css/pum.css"
            "bundles/pumapp/css/pum.css"
            "vendor/jquery/css/jquery-ui.css"
            "vendor/jquery/css/jquery-ui-timepicker.css"
        %}
            <link rel="stylesheet" href="{{ asset(asset_url) }}" />
        {% endstylesheets %}
        {% block stylesheets '' %}
        <link rel="apple-touch-icon" href="{{ asset('bundles/pumapp/img/pum-apple-touch-icon.png') }}" />
        <link rel="icon" type="image/png" href="{{ asset('bundles/pumapp/img/pum-favicon.png') }}" />
    </head>
    <body class="pum-scheme-{{ pum_color_scheme|default('') }}">
        {% block body '' %}

        <script type="text/javascript">
            var CKEDITOR_BASEPATH = '{{ asset("bundles/pumtypeextra/js/ckeditor/") }}';
        </script>
        {% javascripts combine=true output="js/all.js"
            "vendor/jquery/jquery.1.10.2.js"
            "vendor/jquery/jquery-ui.js"
            "vendor/jquery/jquery-ui-timepicker.js"
            "bundles/pumapp/js/moment.min.js"
            "bundles/pumapp/js/jquery.swapsies.js"
            "bundles/pumapp/js/bootstrap.min.js"
            "bundles/pumapp/js/pum.js"
            "bundles/pumapp/js/pum.collection.js"
            "bundles/pumapp/js/pum.sequence.js"
            "bundles/pumapp/js/pum.field-definition-types.js"
            "bundles/pumtypeextra/js/ckeditor/ckeditor.js"
            "source/js/html.js"
        %}
            <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
        {% endjavascripts %}
        {% block javascript '' %}
    </body>
</html>
