{% import "PumAppBundle::macros.html.twig" as pum_macros %}

{% set pum_form_themes = ['PumWoodworkBundle::form.html.twig', 'PumTypeExtraBundle::form.html.twig', 'PumProjectAdminBundle::form.html.twig', 'PumAppBundle::form.html.twig'] %}

{# FORM THEME #}
{% if form is defined %}
    {% form_theme form with pum_form_themes %}
{% endif %}

{# BASE #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title pum_config('ww_name', "common.global_page_title"|trans({}, "pum")) %}</title>
        {# <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" /> #}
        {% stylesheets filter="cssrewrite" combine=true output="css/pum.app.css"
            "bundles/pumapp/js/jquery/css/jquery-ui.css"
            "bundles/pumapp/js/jquery/css/jquery-ui-timepicker.css"
            "bundles/pumapp/css/pum.css"
            "bundles/pumapp/css/jquery.tagmanager.css"
            "bundles/pumapp/css/jquery.tatam.css"
        %}
            <link rel="stylesheet" href="{{ asset(asset_url) }}" />
        {% endstylesheets %}
        {% block stylesheets '' %}
        <link rel="apple-touch-icon" href="{{ asset('bundles/pumapp/img/pum-apple-touch-icon.png') }}" />
        <link rel="icon" type="image/png" href="{{ asset('bundles/pumapp/img/pum-favicon.png') }}" />
    </head>
    <body class="pum-scheme-{{ pum_color_scheme|default('') }}">
        {% block body '' %}

        <script type="text/javascript">
            var CKEDITOR_BASEPATH = '{{ asset("bundles/pumtypeextra/js/ckeditor/") }}';
            var JQUERY_VALIDATE_LOCALPATH = '{{ asset("bundles/pumapp/js/jquery_validate_localization/") }}';
            {% if app.request.locale is not empty %}
                var app_locale = '{{ app.request.locale }}';
            {% endif %}
        </script>
        {% javascripts combine=true output="js/pum.app.js"
            "bundles/pumapp/js/modernizr.js"
            "bundles/pumapp/js/jquery/jquery.js"
            "bundles/pumapp/js/jquery/jquery-ui.js"
            "bundles/pumapp/js/jquery/jquery-ui-timepicker.js"
            "bundles/pumapp/js/jquery.validate.min.js"
            "bundles/pumapp/js/moment.min.js"
            "bundles/pumapp/js/jquery.swapsies.js"
            "bundles/pumapp/js/bootstrap.min.js"
            "bundles/pumapp/js/URI.js"
            "bundles/pumtypeextra/js/ckeditor/ckeditor.js"
            "bundles/pumapp/js/typeahead.bundle.min.js"
            "bundles/pumapp/js/jquery.tagmanager.js"
            "bundles/pumapp/js/jquery.tatam.js"
            "bundles/pumapp/js/pum.sequence.js"
            "bundles/pumapp/js/pum.collection.js"
            "bundles/pumapp/js/pum.avatar.js"
            "bundles/pumapp/js/pum.field-definition-types.js"
            "bundles/pumapp/js/pum.js"
            "bundles/pumapp/js/YAAH.js"
        %}
            <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
        {% endjavascripts %}
        {% block javascript '' %}
    </body>
</html>
