{% extends "form_div_layout.html.twig" %}

{# Widgets #}
{% block form_widget_simple %}
{% spaceless %}
    {% if attr.class is defined %}
        {% set class = attr.class ~ ' form-control' %}
    {% else %}
        {% set class = 'form-control' %}
    {% endif %}
    {% set attr = attr|merge({class: class}) %}
    {{ parent() }}
    {% if help is not empty %}
        <p class="help-block">
            {{ help }}
        </p>
    {% endif %}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block choice_widget_collapsed %}
{% spaceless %}
    {% import "PumAppBundle::macros.html.twig" as pum_macros %}

    {% if ((required == false and empty_value is empty and empty_value is not null) or (required == true and empty_value == true)) %}
        {% if 'pum_object_entity' in form.vars.block_prefixes %}
            {% set empty_value = 'pa.form.object.choices.empty_value'|trans({}, 'pum_form') %}
        {% else %}
            {% set empty_value = pum_macros.form_get_translate_key(form, 'empty_value') %}
        {% endif %}
    {% endif %}

    {% if attr.class is defined %}
        {% set class = attr.class ~ ' form-control' %}
    {% else %}
        {% set class = 'form-control' %}
    {% endif %}
    {% if ajaxsearch is defined and ajaxsearch == true %}
        {% set class = class ~ ' js-tatam' %}
    {% endif %}
    {% set attr = attr|merge({class: class}) %}

    {%  if ajaxsearch is defined and ajaxsearch == true %}
        {% if force_ajax_url is defined %}
            {% set ajax_url = force_ajax_url %}
        {% else %}
            {% set ajax_url = ajax_url|default('') ~ '?_pum_list=' ~ ajax_id %}
        {% endif %}

        {% set ids_container = id ~ '_ids' %}
        {% set storename     = full_name %}
        {% set choice_ids    = null %}

        {% if multiple is defined and multiple == false %}
            {% if form.vars.data is not null and form.vars.data.id is defined %}
                {% set choice_ids = [form.vars.data.id]|join(ids_delimiter) %}
            {% endif %}
            {% set is_multiple = '1' %}
        {% else %}
            {% set choice_ids = form.vars.value|join(ids_delimiter) %}
            {% set is_multiple = '0' %}
        {% endif %}

        {% set ta_url  = ajax_url ~ '&_pum_field=' ~ property_name ~ '&_pum_q=%QUERY' %}
        {% set ids_ajax_url  = ajax_url ~ '&_pum_field=' ~ property_name ~ '&_pum_q=' ~ choice_ids ~ '&_pum_q_type=ids&_pum_q_delimiter=' ~ ids_delimiter %}

        {% set attr = attr|merge({
            'data-tatam-ta-url': ta_url,
            'data-tatam-tm-inputname': storename,
            'data-tatam-tt-property' : property_name,
            'data-tatam-tm-maxtags' : is_multiple,
            'data-tatam-ids': choice_ids,
            'data-tatam-init-url': ids_ajax_url,
            'data-tatam-ids-delimiter' : ids_delimiter,
            'data-tatam-tm-inputcontainer' : "#" ~ ids_container
        }) %}
        {% set full_name = null %}

        <input type="text" {{ block('widget_attributes') }} />
        <div id="{{ ids_container }}">
            {% for choice_id in choice_ids|split(ids_delimiter) %}
                <input type="hidden" class="tatam-origin" name="{{ storename }}" value="{{ choice_id }}" />
            {% endfor %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block textarea_widget %}
{% spaceless %}
    {% if attr.class is defined %}
        {% set class = attr.class ~ ' form-control' %}
    {% else %}
        {% set class = 'form-control' %}
    {% endif %}
    {% set attr = attr|merge({class: class, rows:4}) %}
    {{ parent() }}
    {% if help is not empty %}
        <p class="help-block">
            {{ help }}
        </p>
    {% endif %}
{% endspaceless %}
{% endblock textarea_widget %}

{% block submit_widget %}
{% spaceless %}
    {% import "PumAppBundle::macros.html.twig" as pum_macros %}

    {% if attr.class is defined %}
        {% set class = attr.class ~ ' btn pum-scheme-btn-darkgrass' %}
    {% else %}
        {% set class = 'btn pum-scheme-btn-darkgrass' %}
    {% endif %}
    {% set attr = attr|merge({class: class}) %}

    {% if label is empty %}
        {% set label = pum_macros.form_get_translate_key(form) %}
        {% if label == label|trans({}, translation_domain) %}
            {% set label = 'ww.form.common.submit.' ~ form.vars.name %}
        {% endif %}
    {% else %}
        {% set label = label|humanize|pum_ucfirst %}
    {% endif %}

    {{ parent() }}
{% endspaceless %}
{% endblock %}

{% block choice_widget_expanded %}
{% spaceless %}
    {% for child in form %}
        {{ form_label(
            child,
            null,
            {
                in_choice_list: true,
                widget        : form_widget(child),
                multiple      : multiple,
            }
        ) }}
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block money_widget %}
{% spaceless %}
    {% set append = '{{' == money_pattern[0:2] %}
    <div class="{{ append ? 'input-append' : 'input-prepend' }}">
        {% if not append %}
            <span class="add-on">
                {{ money_pattern|replace({ '{{ widget }}':''}) }}
            </span>
        {% endif %}
        {{ block('form_widget_simple') }}
        {% if append %}
            <span class="add-on">
                {{ money_pattern|replace({ '{{ widget }}':''}) }}
            </span>
        {% endif %}
    </div>

{% endspaceless %}
{% endblock money_widget %}

{% block percent_widget %}
{% spaceless %}
    <div class="input-append">
        {{ parent() }}
        <span class="add-on">%</span>
    </div>
{% endspaceless %}
{% endblock percent_widget %}

{% block collection_row %}
{% spaceless %}
    <fieldset>
        {{ form_label(form) }}

        {{ form_widget(form) }}
    </fieldset>
{% endspaceless %}
{% endblock collection_row %}

{% block collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_widget(prototype) }) %}
    {% endif %}

    {% if allow_delete %}
        {% set attr = attr|merge({'data-delete': 1}) %}
    {% endif %}

    <div class="panel-group collection-set" {{ block('widget_attributes') }}>
        {% for subform in form %}
            {# {{ dump(subform.vars.block_prefixes) }} #}
            {{ form_widget(subform) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock collection_widget %}

{% block collection_label %}
    {% spaceless %}
        {% import "PumAppBundle::macros.html.twig" as pum_macros %}
        {% if label is empty or label is null %}
            {% set label =  pum_macros.form_get_translate_key(form) %}
        {% endif %}
        {% if label is not empty and label is not null %}
            <legend>{{ label|trans({}, translation_domain)|humanize|pum_ucfirst }}</legend>
        {% endif %}
    {% endspaceless %}
{% endblock collection_label %}

{% block pum_icon_widget %}
{% spaceless %}
    {% for child in form %}
        <label for="{{ child.vars.id }}" class="label-icon">
            {{ form_widget(child) }}
            {% if color != null %}
                <i class="pumicon icon-fat pumicon-{{ child.vars.value }} pum-customscheme pum-scheme-bg_colored-{{ color }}" data-pum_class_refresh_oldname="pum-scheme-bg_colored-{{ color }}"></i>
            {% else %}
                <i class="pumicon icon-fat pumicon-{{ child.vars.value }}"></i>
            {% endif %}
        </label>
    {% endfor %}
{% endspaceless %}
{% endblock %}

{% block pum_color_widget %}
{% spaceless %}
    {% for child in form %}
        <label for="{{ child.vars.id }}" class="label-color">
            {{ form_widget(child) }}
            <span class="color pum-scheme-bg_colored-{{ child.vars.value }}" data-pum_class_refresh_target=".label-icon .pumicon" data-pum_class_refresh_name="pum-customscheme pum-scheme-bg_colored-{{ child.vars.value }}">
                <i class="pumicon icon-fat pumicon-checkmark3"></i>
                <span>{{ child.vars.value }}</span>
            </span>
        </label>
    {% endfor %}
{% endspaceless %}
{% endblock %}

{# Labels #}

{% block form_label %}
{% spaceless %}
    {% import "PumAppBundle::macros.html.twig" as pum_macros %}

    {% if in_choice_list is defined and in_choice_list and widget is defined %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({for: id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = pum_macros.form_get_translate_key(form) %}
        {% endif %}

        {% if multiple is defined and multiple %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' checkbox')|trim}) %}
        {% elseif multiple is defined and not multiple %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' radio')|trim}) %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %} class="control-label col-lg-3">
            {{ widget|raw }}
            <span>
                {{ label|trans({}, translation_domain) ~ ((required) ? '*' : '') }}
            </span>
        </label>
    {% else %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label col-lg-3')|trim}) %}
        {% if label is empty %}
            {% set label = pum_macros.form_get_translate_key(form)|trans({}, translation_domain) ~ ((required) ? '*' : '') %}
        {% else %}
            {% set label = label|trans({}, translation_domain)|humanize|pum_ucfirst ~ ((required) ? '*' : '') %}
        {% endif %}
        {{ parent() }}
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block pum_tabs_row %}
    {% import "PumAppBundle::macros.html.twig" as pum_macros %}

    <ul class="nav nav-tabs">
        {% for subform in form %}
            {% if subform.vars.label is empty or subform.vars.label is null %}
                {% set label =  pum_macros.form_get_translate_key(subform) %}
            {% endif %}
            <li class="{{ loop.first ? 'active' : '' }}">
                <a href="#{{ subform.vars.id }}" data-toggle="tab">
                    {{ label|default(name|humanize)|trans({}, translation_domain) }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for subform in form %}
            <div class="tab-pane{{ loop.first ? ' active' : '' }}" id="{{ subform.vars.id }}">
                {{ form_widget(subform) }}
            </div>
        {% endfor %}
    </div>
{% endblock pum_tabs_row %}

{# Form #}
{% block form_start %}
{% spaceless %}
    {% if attr.class is defined %}
        {% if not 'form-horizontal' in attr.class %}
            {% set attr = attr|merge({class: attr.class ~ ' form-horizontal', novalidate: 'novalidate'}) %}
        {% endif %}
    {% else %}
        {% set attr = attr|merge({class: 'form-horizontal', novalidate: 'novalidate'}) %}
    {% endif %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_start %}


{# Rows #}
{% block section_row %}
{% spaceless %}
    {% import "PumAppBundle::macros.html.twig" as pum_macros %}
    {% set label =  pum_macros.form_get_translate_key(form) %}
    <fieldset>
        {% if label is not empty and label is not null %}
            <legend>{{ label|default(name|humanize)|trans({}, translation_domain) }}</legend>
        {% endif %}
        {{ form_widget(form) }}
    </fieldset>
{% endspaceless %}
{% endblock section_row %}

{% block form_row %}
{% spaceless %}
    <div class="form-group{% if not valid %} has-error{% endif %}">
        {{ form_label(form, label|default(null)) }}
        <div class="col-lg-7{% if attr.wrapper_class is defined %} {{ attr.wrapper_class  }}{% endif %}">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block submit_row %}
{% spaceless %}
    <hr class="separator-unspaced pum-scheme-separator-darkgrass" />
    <div class="text-center">
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock submit_row %}

{# Custom Types #}
{% block alert_row %}
{% spaceless %}
    {% set class = attr.class|trim %}
    {% if label is defined %}
    <div class="alert {{ class|default('') }}">
        {% set label = label|trim %}
        {% if label is not empty and label is not null %}
            {{ label|default(name|humanize)|trans({}, translation_domain)|raw }}
        {% endif %}
    </div>
    {% endif %}
{% endspaceless %}
{% endblock alert_row %}

{% block pum_password_widget %}
    {% if repeated %}
        {{ block('form_widget') }}
    {% else %}
        {{ form_widget(form.single) }}
    {% endif %}
{% endblock pum_password_widget %}

{# Errors #}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger alert-onlylist" >{% endif %}
        {{ parent() }}
    {% if form.parent %}</span>{% else %}</div>{% endif %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block pum_object_entity_hidden_widget %}
{% spaceless %}
    {{ block('hidden_widget') }}
{% endspaceless %}
{% endblock pum_object_entity_hidden_widget %}

{% block pum_object_entity_hidden_row %}
{% spaceless %}
    {{ block('pum_object_entity_hidden_widget') }}
{% endspaceless %}
{% endblock pum_object_entity_hidden_row %}
