{% extends "form_div_layout.html.twig" %}

{# Widgets #}

{% block form_widget_simple %}
{% spaceless %}
    {% if attr.class is defined %}
        {% set class = attr.class ~ ' form-control' %}
    {% else %}
        {% set class = 'form-control' %}
    {% endif %}
    {% set attr = attr|merge({class: class}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block choice_widget_collapsed %}
{% spaceless %}
    {% if attr.class is defined %}
        {% set class = attr.class ~ ' form-control' %}
    {% else %}
        {% set class = 'form-control' %}
    {% endif %}
    {% set attr = attr|merge({class: class}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block textarea_widget %}
{% spaceless %}
    {% if attr.class is defined %}
        {% set class = attr.class ~ ' form-control' %}
    {% else %}
        {% set class = 'form-control' %}
    {% endif %}
    {% set attr = attr|merge({class: class, rows:4}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock textarea_widget %}

{% block submit_widget %}
{% spaceless %}
    {% if attr.class is defined %}
        {% set class = attr.class ~ ' btn pum-scheme-btn-darkgrass' %}
    {% else %}
        {% set class = 'btn pum-scheme-btn-darkgrass' %}
    {% endif %}
    {% set attr = attr|merge({class: class}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock %}

{% block choice_widget_expanded %}
{% spaceless %}
    {% for child in form %}
        {{ form_label(
            child,
            null,
            {
                in_choice_list: true,
                widget        : form_widget(child),
                multiple      : multiple,
            }
        ) }}
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block money_widget %}
{% spaceless %}
    {% set append = '{{' == money_pattern[0:2] %}
    <div class="{{ append ? 'input-append' : 'input-prepend' }}">
        {% if not append %}
            <span class="add-on">
                {{ money_pattern|replace({ '{{ widget }}':''}) }}
            </span>
        {% endif %}
        {{ block('form_widget_simple') }}
        {% if append %}
            <span class="add-on">
                {{ money_pattern|replace({ '{{ widget }}':''}) }}
            </span>
        {% endif %}
    </div>

{% endspaceless %}
{% endblock money_widget %}

{% block percent_widget %}
{% spaceless %}
    <div class="input-append">
        {{ parent() }}
        <span class="add-on">%</span>
    </div>
{% endspaceless %}
{% endblock percent_widget %}

{% block collection_row %}
{% spaceless %}
    <fieldset>
        {{ form_label(form, label|default(form.vars.name|title)) }}

        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_widget(prototype) }) %}
        {% endif %}

        {% if allow_delete %}
            {% set attr = attr|merge({'data-delete': 1}) %}
        {% endif %}

        <div class="panel-group collection-set" {{ block('widget_attributes') }}>
            {% for subform in form %}
                {{ form_widget(subform) }}
            {% endfor %}
        </div>
    </fieldset>
{% endspaceless %}
{% endblock collection_row %}

{% block collection_label %}
    {% spaceless %}
        <legend>{{ label }}</legend>
    {% endspaceless %}
{% endblock collection_label %}

{% block ww_field_definition_widget %}
    {% spaceless %}
        <div class="collection-element panel pum-scheme-panel">
            <div class="panel-heading form-inline">
                <h4 class="panel-title">
                    {% set auto_hide_init_class = ' vhidden' %}
                    {% for child in form %}
                        {% if not child.vars.compound %}
                            {{ form_row(child) }}
                        {% else %}
                            {% set auto_hide_init_class = '' %}
                        {% endif %}
                    {% endfor %}
                    <a class="pull-right accordion-toggle collapsed panel-control pum-scheme-toggle-primary{{ auto_hide_init_class }}" data-toggle="collapse" data-parent="#{{ form.parent.vars.id }}" href="#panel_{{ form.vars.id }}" data-autohide="true"><i class="pumicon pumicon-cog-3"></i></a>
                </h4>
            </div>
            <div id="panel_{{ form.vars.id }}" class="panel-collapse collapse">
                <div class="panel-body type-options">
                    {% for child in form %}
                        {% if child.vars.compound == true %}
                            {{ form_widget(child) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock ww_field_definition_widget %}

{% block pa_tableview_filter_widget %}
    {% spaceless %}
        <div class="collection-element panel pum-scheme-panel">
            <div class="panel-heading form-inline">
                <h4 class="panel-title">
                    {% for child in form %}
                        {{ form_row(child) }}
                    {% endfor %}
                </h4>
            </div>
        </div>
    {% endspaceless %}
{% endblock pa_tableview_filter_widget %}

{% block pum_icon_widget %}
{% spaceless %}
    {% for child in form %}
        <label for="{{ child.vars.id }}" class="label-icon">
            {{ form_widget(child) }}
            {% if color != null %}
                <i class="pumicon icon-fat pumicon-{{ child.vars.value }} pum-customscheme pum-scheme-bgcolored-{{ color }}" data-pum_class_refresh_oldname="pum-scheme-bgcolored-{{ color }}"></i>
            {% else %}
                <i class="pumicon icon-fat pumicon-{{ child.vars.value }}"></i>
            {% endif %}
        </label>
    {% endfor %}
{% endspaceless %}
{% endblock %}

{% block pum_color_widget %}
{% spaceless %}
    {% for child in form %}
        <label for="{{ child.vars.id }}" class="label-color">
            {{ form_widget(child) }}
            <span class="color pum-scheme-bgcolored-{{ child.vars.value }}" data-pum_class_refresh_target=".label-icon .pumicon" data-pum_class_refresh_name="pum-customscheme pum-scheme-bgcolored-{{ child.vars.value }}">
                <i class="pumicon icon-fat pumicon-checkmark-2"></i>
                <span>{{ child.vars.value }}</span>
            </span>
        </label>
    {% endfor %}
{% endspaceless %}
{% endblock %}

{# Labels #}

{% block form_label %}
{% spaceless %}
    {% if in_choice_list is defined and in_choice_list and widget is defined %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({for: id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}

        {% if multiple is defined and multiple %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' checkbox')|trim}) %}
        {% elseif multiple is defined and not multiple %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' radio')|trim}) %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %} class="control-label col-lg-3">
            {{ widget|raw }}
            <span>
                {{ label|trans({}, translation_domain) }}
            </span>
        </label>
    {% else %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label col-lg-3')|trim}) %}
        {{ parent() }}
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block pum_tabs_row %}
    <ul class="nav nav-tabs">
        {% for subform in form %}
            <li class="{{ loop.first ? 'active' : '' }}">
                <a href="#{{ subform.vars.id }}" data-toggle="tab">
                    {{ subform.vars.label|default(subform.vars.name|humanize) }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for subform in form %}
            <div class="tab-pane{{ loop.first ? ' active' : '' }}" id="{{ subform.vars.id }}">
                {{ form_widget(subform) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{# Form #}

{% block form_start %}
{% spaceless %}
    {% if attr.class is defined %}
        {% if not 'form-horizontal' in attr.class %}
            {% set attr = attr|merge({class: attr.class ~ ' form-horizontal', novalidate: 'novalidate'}) %}
        {% endif %}
    {% else %}
        {% set attr = attr|merge({class: 'form-horizontal', novalidate: 'novalidate'}) %}
    {% endif %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_start %}


{# Rows #}

{% block section_row %}
{% spaceless %}
        <fieldset>
            <legend>{{ label|default(name|humanize) }}</legend>
            {{ form_widget(form) }}
        </fieldset>
{% endspaceless %}
{% endblock section_row %}

{% block form_row %}
{% spaceless %}
    <div class="form-group{% if not compound and not valid %} error{% endif %}">
        {{ form_label(form, label|default(null)) }}
        <div class="col-lg-7">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block submit_row %}
{% spaceless %}
    <hr class="separator-unspaced pum-scheme-separator-darkgrass" />
    <div class="text-center">
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock %}


{# Errors #}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    {% if form.parent %}<span class="help-inline">{% else %}<div class="alert alert-danger alert-onlylist" >{% endif %}
        {{ parent() }}
    {% if form.parent %}</span>{% else %}</div>{% endif %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
