{% extends app.request.xmlHttpRequest ? "PumAppBundle::base.ajax.html.twig" : "PumAppBundle::base.html.twig" %}

{# MENU #}
{% set menu_active = menu_active|default(null) %}

{% if pum_menu[menu_active].color is defined %}
    {% set pum_color_scheme = pum_menu[menu_active].color %}
{% else %}
    {% set pum_color_scheme = null %}
{% endif %}

{# LAYOUT #}
{% block body %}
    <header class="navbar navbar-inverse navbar-fixed-top pum-core-nav">
        <a href="{{ app_active == 'projectadmin' ? path('pa_homepage') : path('ww_homepage') }}" class="navbar-brand text-center">
            <img src="{{ asset(pum_config('ww_logo_small', pum_config('ww_logo', 'bundles/pumapp/img/pum-logo.svg'))) }}" alt="{{ "common.pum.name"|trans({}, 'pum') }}" width="65" />
        </a>
        <div class="navbar-header">
            <button class="navbar-toggle navbar-toggle-h pull-left" type="button" data-toggle="collapse" data-target=".pum-core-sidebar, .pum-subsidebar">
                <span class="sr-only">{{ "common.topnav.toggle_sidebar"|trans({}, 'pum') }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{{ "common.topnav.toggle_nav"|trans({}, 'pum') }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if app.security.getToken().getUser().hasWoodworkAccess %}
                    <li{% if app_active == "woodwork" %} class="active"{% endif %}>
                        <a href="{{ path('ww_homepage') }}">
                            <i class="pumicon pumicon-custom-saw icon-fat"></i>
                            {{ "common.topnav.link_woodwork"|trans({}, 'pum') }}
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_PA_LIST') %}
                    {% include "PumWoodworkBundle::Project/menu.html.twig" with {projectadmin_active: app_active == 'projectadmin' ? 1 : 0} %}
                    {# {{ render(controller('PumWoodworkBundle:Project:menu', {projectadmin_active: app_active == 'projectadmin' ? 1 : 0})) }} #}
                {% endif %}
            </ul>
            <!-- @Notifications, Login and Search part -->
            <ul class="nav navbar-nav pull-right">
                {# ::NOTIFICATIONS #}
                {#
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="pumicon pumicon-alarm2 icon-medium"></i>
                        <span class="pum-bigbadge pum-scheme-bigbadge-darkgrass">3</span>
                    </a>
                    <ul class="dropdown-menu pum-nav-notifications">
                        <li class="nav-header text-center">
                            Notifications
                        </li>
                        <li class="pum-nav-notification">
                            <a href="#">
                                <strong>Update available</strong><br/>
                                <small>A new update is available, v0.9.</small>
                            </a>
                        </li>
                        <li class="pum-nav-notification">
                            <a href="#">
                                <strong>Update available</strong><br/>
                                <small>A new update is available, v0.9.</small>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="text-center"><a href="#">See all</a></li>
                    </ul>
                </li>
                #}
                {% if app.user|default(false) %}
                    <li class="dropdown pull-right" data-tooltip="true" title="{{ app.user.fullname }}" data-placement="left">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img class="media-avatar pum-avatar" data-initials-letters="{{ app.user.fullname|pum_initials }}" alt="{{ app.user.fullname|pum_initials }}" width="32" />
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if is_granted('ROLE_APP_CONFIG') %}
                            <li>
                                <a href="{{ path('app_config_edit') }}">
                                    <i class="pumicon pumicon-cog2"></i>
                                    {{ "common.topnav.link_settings"|trans({}, 'pum') }}
                                </a>
                            </li>
                            <li class="divider" aria-hidden="true"></li>
                            {% endif %}
                            <li>
                                <a href="{{ path('app_security_logout') }}">
                                    <i class="pumicon pumicon-switch2"></i>
                                    {{ "common.topnav.link_logout"|trans({}, 'pum') }}
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a class="pum-core-nav-login" href="{{ path('ww_security_login') }}">
                            <span>
                                <span>{{ "common.topnav.link_login"|trans({}, 'pum') }}</span>
                            </span>
                            <i class="pumicon pumicon-lock icon-fat"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
            {# ::SEARCH #}
            {% set _q =  app.request.query.get('q') %}
            {% if app_active == "woodwork" %}
                {% if pum_config('ww_search') %}
                    <form class="navbar-form navbar-form-sized pull-right" action="{{ path('ww_search') }}">
                        <input type="search" name="q" class="form-control pum-top-searchfield" placeholder="{{ "common.topnav.ww_search_placeholder"|trans({}, 'pum') }}" value="{{ _q }}" />
                    </form>
                {% endif %}
            {% elseif pum_config('pa_search') %}
                {% set projectName = pum_projectName() %}
                {% if object_definition is defined and object_definition is not null %}
                    {# SEARCH_OBJECT_COUNT_SEARCH #}
                    {<form class="navbar-form navbar-form-sized pull-right" action="{{ path('pa_search', {objectName: object_definition.name}) }}">
                        <input type="search" name="q" class="form-control pum-top-searchfield" placeholder="{{ "common.topnav.pa_search_object_placeholder"|trans({'%object%':object_name}, 'pum') }}" value="{{ _q }}" />
                    </form>
                {% else %}
                    {# GLOBAL_COUNT_SEARCH #}
                    <form class="navbar-form navbar-form-sized pull-right" action="{{ path('pa_search_count') }}">
                        <input type="search" name="q" class="form-control pum-top-searchfield" placeholder="{{ "common.topnav.pa_search_placeholder"|trans({'%project%': projectName|pum_ucfirst}, 'pum') }}" value="{{ _q }}" />
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </header>

    <div class="container pum-core-container pum-core-height">
        <div class="pum-core-height">
            <nav class="pum-core-sidebar navbar-collapse collapse width">
                <ul>
                    {% for nav_key, nav_item in pum_menu if not nav_item.credentials is defined or is_granted(nav_item.credentials) %}
                        {% set activeClass = '' %}
                        {% if menu_active == nav_key %}
                            {% set activeClass = ' active' %}
                        {% endif %}

                        {% set linkpath = '' %}
                        {% if nav_item.path is defined %}
                            {% set linkpath = path(nav_item.path) %}
                        {% elseif nav_item.url is defined %}
                            {% set linkpath = nav_item.url %}
                        {% endif %}

                        <li>
                            <a class="pum-scheme-{{ nav_item.color }}{{ activeClass }}" href="{{ linkpath }}">
                                <div>
                                    <span class="fx-icon"><i class="pumicon pumicon-{{ nav_item.icon }}"></i></span><br />
                                    <strong>{{ nav_item.title|pum_ucfirst }}</strong>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav><!--
            -->{% block subsidebar '' %}<!--
            --><div class="pum-core-content {{ block_content_pumcore_class|default('') }}">
                <div class="pum-row">
                    <div class="col-xs-12">
                        {% block ajax_content %}
                            {% block content '' %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block ajaxmodal %}
        <div id="pumAjaxModal" class="modal fade modal-panel modal-panel-right" tabindex="-1" role="dialog" aria-labelledby="ajax modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                </div>
            </div>
        </div>
    {% endblock %}

    {% block modal %}
        <!-- Modal -->
        <div id="pumModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmation modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="myModalLabel">{{ "common.modal.title_confirm_action"|trans({}, 'pum') }}</h4>
                    </div>
                    <div class="modal-body">
                        <p class="myModalContent"></p>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-sm myModalcancel" data-dismiss="modal" aria-hidden="true">{{ "common.modal.link_cancel_confirmaction"|trans({}, 'pum') }}</a>
                        <a class="btn btn-primary myModalconfirm">{{ "common.modal.link_confirm_confirmaction"|trans({}, 'pum') }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
