{# View Header #}
{% macro section_title(title, description, small='', breadcrumb=[]) %}
    <h1 class="pum-view_title pum-scheme-text_colored">
        {{ title|pum_ucfirst }}
        {% if small is defined and small != '' %}
            <small>{{ small|raw }}</small>
        {% endif %}
    </h1>
    {% if breadcrumb|length > 0 %}
        {% set tmp_small_class = ' wbcrmb' %}
        {% set breadcrumb_limit = breadcrumb|length - 1 %}
    {% else %}
        {% set tmp_small_class = '' %}
    {% endif %}
    {% if description is defined and description != '' %}
        <small class="text-muted{{ tmp_small_class }}">{{ description|raw }}</small>
    {% elseif breadcrumb_limit is defined %}
        <small class="text-muted{{ tmp_small_class }}">{{ breadcrumb[breadcrumb_limit].text|raw }}</small>
    {% endif %}

    {% if breadcrumb|length > 0 %}
        <ul class="breadcrumb">
            {% for key, link in breadcrumb %}
                {% if key == breadcrumb_limit %}
                    <li class="active">{{ link.text|raw }}</li>
                {% else %}
                    <li><a href="{{ link.href }}">{{ link.text|raw }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{# Collapsed List for long list items in Table View #}
{% macro collapsed_list(id, items, method='name', title = null, limit = 5, format = false) %}
    {% if title is empty %}
        {% set title = ['macro.collapsedlist.item'|trans({}, 'pum'), 'macro.collapsedlist.items'|trans({}, 'pum')] %}
    {% endif %}
    {% if items|length >= limit %}
        <div id="{{ id }}" class="pum-simple_expand">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#{{ id }}" href="#expand_{{ id }}">
                {{ items|length }}
                {% if items|length < 2 %}
                    {{ title.0 }}
                {% else %}
                    {{ title.1 }}
                {% endif %}
            </a>
            <div class="accordion-body collapse" id="expand_{{ id }}">
                <ul class="list-unstyled list-spaced">
                    {% if format == 'code' %}
                        {% for item in items %}
                            <li><code>{{ attribute(item, method) }}</code></li>
                        {% endfor %}
                    {% elseif format == 'strong' %}
                        {% for item in items %}
                            <li><strong>{{ attribute(item, method) }}</strong></li>
                        {% endfor %}
                    {% else %}
                        {% for item in items %}
                            <li>{{ attribute(item, method) }}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    {% else %}
        <ul class="list-unstyled list-spaced">
            {% if format == 'code' %}
                {% for item in items %}
                    <li><code>{{ attribute(item, method) }}</code></li>
                {% endfor %}
            {% elseif format == 'strong' %}
                {% for item in items %}
                    <li><strong>{{ attribute(item, method) }}</strong></li>
                {% endfor %}
            {% else %}
                {% for item in items %}
                    <li>{{ attribute(item, method) }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    {% endif %}
{% endmacro %}

{# Pagination #}
{% macro pager(pager, distance = 2) %}
    {% set mid  = pager.currentPage %}
    {% set dots = 'none' %}

    {% if pager.currentPage - distance <= 0 %}
        {% set mid = distance + 1 %}
    {% elseif pager.currentPage + distance >= pager.nbPages %}
        {% set mid = pager.nbPages - distance %}
    {% endif %}

    {% if mid - distance > 1 %}
        {% set dots = 'left' %}
    {% endif %}
    {% if mid + distance < pager.nbPages %}
        {% if dots == 'left' %}
            {% set dots = 'both' %}
        {% else %}
            {% set dots = 'right' %}
        {% endif %}
    {% endif %}

    {% set min = mid - distance %}
    {% set max = mid + distance %}

    {% if app.request.xmlHttpRequest %}
        {% set xhrLinksClass = 'class="yaah-js"' %}
        {% set xhrLinksAttr = ' data-ya-target="#pumAjaxModal .modal-content" data-ya-location="inner"' %}
    {% else %}
        {% set xhrLinksClass = '' %}
        {% set xhrLinksAttr = '' %}
    {% endif %}

    <div class="text-center">
        <ul class="pagination">
            {% if dots != 'none' %}
                <li class="pagination_goto"><span>Page <input data-href="{{ _self.addPathQuery({page: '__page__'}) }}" data-replacer="__page__" data-max="{{ pager.nbPages }}" type="text" value="{{ pager.currentPage }}"/>/{{ pager.nbPages }}</span></li>
            {% endif %}

            {% if dots == 'left' or dots == 'both' %}
                <li><a {{ xhrLinksClass|raw }} {{ xhrLinksAttr|raw }} href="{{ _self.addPathQuery({page: 1}) }}">&laquo;&laquo;</a></li>
            {% endif %}

            {% if pager.currentPage == 1 %}
                <li class="disabled"><a href="#">&laquo;</a></li>
            {% else %}
                <li><a {{ xhrLinksClass|raw }} {{ xhrLinksAttr|raw }} href="{{ _self.addPathQuery({page: pager.currentPage - 1}) }}">&laquo;</a></li>
            {% endif %}

            {% if dots == 'left' or dots == 'both' %}
                <li class="disabled"><a href="#">...</a></li>
            {% endif %}

            {% for page in min..max %}
                {% if page >= 1 and page <= pager.nbPages %}
                    {% if page == pager.currentPage %}
                        <li class="active">
                            <a>{{ page }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a {{ xhrLinksClass|raw }} {{ xhrLinksAttr|raw }} href="{{ _self.addPathQuery({page: page}) }}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if dots == 'right' or dots == 'both' %}
                <li class="disabled"><a href="#">...</a></li>
            {% endif %}

            {% if pager.currentPage == pager.nbPages %}
                <li class="disabled"><a href="#">&raquo;</a></li>
            {% else %}
                <li><a {{ xhrLinksClass|raw }} {{ xhrLinksAttr|raw }} href="{{ _self.addPathQuery({page: pager.currentPage + 1}) }}">&raquo;</a></li>
            {% endif %}

            {% if dots == 'right' or dots == 'both' %}
                <li><a {{ xhrLinksClass|raw }} {{ xhrLinksAttr|raw }} href="{{ _self.addPathQuery({page: pager.nbPages}) }}">&raquo;&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
{% endmacro %}

{% macro paginationChoices(currentItemPerPage, pagination_values, nbResults) %}

    {% set show = false %}
    {% for itemPerPage in pagination_values %}
        {% if nbResults > itemPerPage %}
            {% set show = true %}
        {% endif %}
    {% endfor %}

    <button data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle" type="button" {{ (show == false) ? 'disabled="disabeld"' : '' }}>
        <i class="pumicon pumicon-ellipsis"></i> {{ currentItemPerPage }} {{ "macro.paginationchoices.items_per_page"|trans({}, 'pum') }}
        {% if show %}
            <span class="caret"></span>
        {% endif %}
    </button>

    {% if show %}
        <ul role="menu" class="dropdown-menu">
            {% for itemPerPage in pagination_values %}
                {% if show %}
                    <li class="{{ currentItemPerPage == itemPerPage ? 'disabled' : '' }}"><a class="pagination-changer" data-value="{{ itemPerPage }}" href="?{{ _self.addQuery({per_page: itemPerPage, page: null}) }}">{{ itemPerPage }} {{ "macro.paginationchoices.items_per_page"|trans({}, 'pum') }}</a></li>

                    {% if nbResults < itemPerPage %}
                        {% set show = false %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{# Sort #}
{% macro sort(column, field, currentSort = null, currentSortOrder = null, target = '#pumAjaxModal .modal-content') %}
    {% set sortClassList = { 'asc': 'headerSortUp', 'desc': 'headerSortDown'} %}
    {% set otherSortOrder = currentSortOrder == 'asc' and currentSort == column ? 'desc' : 'asc' %}

    {% if currentSort and currentSort == column %}
        {% set sortClass = sortClassList[currentSortOrder|default('asc')] %}
    {% endif %}

    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) ~ '?' ~ app.request.query.all|merge({sort: column, order: otherSortOrder})|url_encode %}

    {% if app.request.isXmlHttpRequest() %}
        <a href="{{ currentPath }}" data-ya-target="{{ target }}" data-ya-location="inner" class="yaah-js {{ sortClass|default('') }}">
            {{ column|pum_ucfirst }}
        </a>
    {% else %}
        <a href="{{ currentPath }}" class="{{ sortClass|default('') }}">
            {{ column|pum_ucfirst }}
        </a>
    {% endif %}
{% endmacro %}

{# TableView #}
{% macro viewChoices(views, beam, object_definition, tableView) %}
    {% set defaultViewName = 'Default' %}
    {% set currentView = tableView.name %}

    <button data-toggle="dropdown" class="btn btn-inverse btn-sm dropdown-toggle" type="button">
        <i class="pumicon pumicon-layout6"></i>&nbsp;
            {% if currentView != defaultViewName %}
                {{ currentView|pum_ucfirst }}
            {% else %}
                {{ "macro.table_viewchoices.view_change"|trans({}, 'pum') }}
            {% endif %}
        <span class="caret"></span>
    </button>
    <ul role="menu" class="dropdown-menu">
        <li role="presentation" class="dropdown-header">{{ "macro.table_viewchoices.views_list"|trans({}, 'pum') }}</li>
        {% for view in views %}
            {% if view.name == currentView %}
                {% set elClass = 'disabled' %}
                {% set elHref  = '#' %}
                {% set elViewCheck = ' <i class="pumicon pumicon-checkmark"></i>' %}
                {% set elTooltip = ' data-toggle="tooltip" title="' ~ "macro.table_viewchoices.view_current_tooltip"|trans({}, 'pum') ~ '" data-placement="left"' %}
            {% else %}
                {% set elClass = '' %}
                {% set elHref  = '?' ~ {view: view.name}|url_encode %}
                {% set elViewCheck = '' %}
                {% set elTooltip = '' %}
            {% endif %}

            <li class="{{ elClass }}">
                <a class="view-changer" data-value="{{ view.name }}" href="{{ elHref }}"{{ elTooltip|raw }}>{{ view.name|pum_ucfirst }}{{ elViewCheck|raw }}</a>
            </li>
        {% endfor %}

        {% if is_granted('ROLE_PA_VIEW_EDIT') and currentView != defaultViewName %}
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">{{ "macro.table_viewchoices.view_current"|trans({}, 'pum') }}</li>
            <li role="presentation">
                <a href="{{ path('pa_tableview_edit', {beamName: beam.name, name: object_definition.name, tableViewName: currentView}) }}"><i class="pumicon pumicon-pencil"></i> {{ "macro.table_viewchoices.view_edit"|trans({}, 'pum') }}</a>
            </li>
            <li role="presentation">
                <a data-cancel="{{ "macro.table_viewchoices.view_delete_modal_btn_cancel"|trans({}, 'pum') }}" data-confirm="{{ "macro.table_viewchoices.view_delete_modal_btn_confirm"|trans({}, 'pum') }}" data-text='{{ "macro.table_viewchoices.view_delete_modal_content"|trans({'%name%': currentView}, "pum") }}' href="{{ path('pa_tableview_delete', {beamName: beam.name, name: object_definition.name, tableViewName: currentView}) }}"><i class="pumicon pumicon-minus5"></i> {{ "macro.table_viewchoices.view_delete"|trans({}, 'pum') }}</a>
            </li>
        {% endif %}

        {% if is_granted('ROLE_PA_VIEW_EDIT') %}
            <li role="presentation" class="divider"></li>
            <li role="presentation">
                <a href="{{ path('pa_tableview_create', {beamName: beam.name, name: object_definition.name}) }}"><i class="pumicon pumicon-plus2"></i> {{ "macro.table_viewchoices.view_create"|trans({}, 'pum') }}</a>
            </li>
            <!-- <li><a class="view-create" href="#">Create a new view</a></li> -->
        {% endif %}
    </ul>
{% endmacro %}

{# ObjectView #}
{% macro objectViewChoices(views, beam, object_definition, object) %}
    {% set defaultViewName = 'Default' %}
    {% if object_definition.defaultObjectView is not null %}
        {% set defaultView = object_definition.defaultObjectView.name %}
    {% else %}
        {% set defaultView = defaultViewName %}
    {% endif %}
    {% set currentView = app.request.query.get('view')|default(defaultView) %}

    {% if app.request.xmlHttpRequest %}
        {% set xhrLinksHref = 'href' %}
        {% set xhrLinksClass = 'yaah-js' %}
        {% set xhrLinksAttr = ' data-target="#pumAjaxModal" data-ya-target="#pumAjaxModal .modal-content" data-ya-location="inner" data-remote="false"' %}
        {% set xhrLinksCancelAttr = ' data-target="#pumAjaxModal" data-ya-target="#pumAjaxModal .modal-content" data-ya-location="inner" data-ya-trigger="manual" data-remote="false"' %}
    {% else %}
        {% set xhrLinksHref = 'href' %}
        {% set xhrLinksClass = '' %}
        {% set xhrLinksAttr = '' %}
        {% set xhrLinksCancelAttr = '' %}
    {% endif %}

    <button data-toggle="dropdown" class="btn btn-inverse btn-sm dropdown-toggle" type="button">
        <i class="pumicon pumicon-layout6"></i>&nbsp;
            {% if currentView != defaultView %}
                {{ currentView|pum_ucfirst }}
            {% else %}
                {{ "macro.object_viewchoices.view_change"|trans({}, 'pum') }}
            {% endif %}
        <span class="caret"></span>
    </button>
    <ul role="menu" class="dropdown-menu">
        <li role="presentation" class="dropdown-header">{{ "macro.object_viewchoices.views_list"|trans({}, 'pum') }}</li>
        {% for view in views %}
            {% if view.name == currentView %}
                {% set elClass = 'disabled' %}
                {% set elHref  = '#' %}
                {% set elViewCheck = ' <i class="pumicon pumicon-checkmark"></i>' %}
                {% set elTooltip = ' data-toggle="tooltip" title="' ~ "macro.object_viewchoices.view_current_tooltip"|trans({}, 'pum') ~ '" data-placement="left"' %}
            {% else %}
                {% set elClass = '' %}
                {% set elHref  = _self.addPathQuery({view: view.name}) %}
                {% set elViewCheck = '' %}
                {% set elTooltip = '' %}
            {% endif %}

            <li class="{{ elClass }}">
                <a class="view-changer {{ xhrLinksClass }}" data-value="{{ view.name }}" {{ xhrLinksHref }}="{{ elHref }}"{{ elTooltip|raw }}{{ xhrLinksAttr|raw }}>{{ view.name|pum_ucfirst }}{{ elViewCheck|raw }}</a>
            </li>
        {% endfor %}

        {% if is_granted('ROLE_PA_VIEW_EDIT') and currentView != defaultViewName %}
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">{{ "macro.object_viewchoices.view_current"|trans({}, 'pum') }}</li>
            <li role="presentation">
                <a {{ xhrLinksHref }}="{{ path('pa_objectview_edit', {beamName: beam.name, name: object_definition.name, id: object.id, viewName: currentView}) }}" class="{{ xhrLinksClass }}"{{ xhrLinksAttr|raw }}><i class="pumicon pumicon-pencil"></i> {{ "macro.object_viewchoices.view_edit"|trans({}, 'pum') }}</a>
            </li>
            <li role="presentation">
                <a data-cancel="{{ "macro.object_viewchoices.view_delete_modal_btn_cancel"|trans({}, 'pum') }}" data-confirm="{{ "macro.object_viewchoices.view_delete_modal_btn_confirm"|trans({}, 'pum') }}" data-text='{{ "macro.object_viewchoices.view_delete_modal_content"|trans({'%name%': currentView}, "pum") }}' {{ xhrLinksHref }}="{{ path('pa_objectview_delete', {beamName: beam.name, name: object_definition.name, id: object.id, viewName: currentView}) }}" class="{{ xhrLinksClass }}"{{ xhrLinksCancelAttr|raw }}><i class="pumicon pumicon-minus5"></i> {{ "macro.object_viewchoices.view_delete"|trans({}, 'pum') }}</a>
            </li>
        {% endif %}

        {% if is_granted('ROLE_PA_VIEW_EDIT') %}
            <li role="presentation" class="divider"></li>
            <li role="presentation">
                <a {{ xhrLinksHref }}="{{ path('pa_objectview_create', {beamName: beam.name, name: object_definition.name, id: object.id}) }}" class="{{ xhrLinksClass }}"{{ xhrLinksAttr|raw }}><i class="pumicon pumicon-plus2"></i> {{ "macro.object_viewchoices.view_create"|trans({}, 'pum') }}</a>
            </li>
            <!-- <li><a class="view-create" href="#">Create a new view</a></li> -->
        {% endif %}
    </ul>
{% endmacro %}

{# FormView #}
{% macro formViewChoices(views, beam, object_definition, object) %}
    {% set defaultViewName = 'Default' %}
    {% if object_definition.defaultFormView is not null %}
        {% set defaultView = object_definition.defaultFormView.name %}
    {% else %}
        {% set defaultView = defaultViewName %}
    {% endif %}
    {% set currentView = app.request.query.get('view')|default(defaultView) %}

    {% if object is not null %}
        {% set object_id = object.id %}
    {% else %}
        {% set object_id = 0 %}
    {% endif %}

    {% if app.request.xmlHttpRequest %}
        {% set xhrLinksHref = 'href' %}
        {% set xhrLinksClass = 'yaah-js' %}
        {% set xhrLinksAttr = ' data-target="#pumAjaxModal" data-ya-target="#pumAjaxModal .modal-content" data-ya-location="inner" data-remote="false"' %}
        {% set xhrLinksCancelAttr = ' data-target="#pumAjaxModal" data-ya-target="#pumAjaxModal .modal-content" data-ya-location="inner" data-ya-trigger="manual" data-remote="false"' %}
    {% else %}
        {% set xhrLinksHref = 'href' %}
        {% set xhrLinksClass = '' %}
        {% set xhrLinksAttr = '' %}
        {% set xhrLinksCancelAttr = '' %}
    {% endif %}

    <button data-toggle="dropdown" class="btn btn-inverse btn-sm dropdown-toggle" type="button">
        <i class="pumicon pumicon-layout6"></i>&nbsp;
            {% if currentView != defaultView %}
                {{ currentView|pum_ucfirst }}
            {% else %}
                {{ "macro.form_viewchoices.view_change"|trans({}, 'pum') }}
            {% endif %}
        <span class="caret"></span>
    </button>
    <ul role="menu" class="dropdown-menu">
        <li role="presentation" class="dropdown-header">{{ "macro.form_viewchoices.views_list"|trans({}, 'pum') }}</li>
        {% for view in views %}
            {% if view.name == currentView %}
                {% set elClass = 'disabled' %}
                {% set elHref  = '#' %}
                {% set elViewCheck = ' <i class="pumicon pumicon-checkmark"></i>' %}
                {% set elTooltip = ' data-toggle="tooltip" title="' ~ "macro.form_viewchoices.view_current_tooltip"|trans({}, 'pum') ~ '" data-placement="left"' %}
            {% else %}
                {% set elClass = '' %}
                {% set elHref  = _self.addPathQuery({view: view.name}) %}
                {% set elViewCheck = '' %}
                {% set elTooltip = '' %}
            {% endif %}

            <li class="{{ elClass }}">
                <a class="view-changer {{ xhrLinksClass }}" data-value="{{ view.name }}" {{ xhrLinksHref }}="{{ elHref }}"{{ elTooltip|raw }} {{ xhrLinksAttr|raw }}>{{ view.name|pum_ucfirst }}{{ elViewCheck|raw }}</a>
            </li>
        {% endfor %}

        {% if is_granted('ROLE_PA_VIEW_EDIT') and currentView != defaultViewName %}
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">{{ "macro.form_viewchoices.view_current"|trans({}, 'pum') }}</li>
            <li role="presentation">
                <a {{ xhrLinksHref }}="{{ path('pa_formview_edit', {beamName: beam.name, name: object_definition.name, id: object_id, viewName: currentView}) }}" class="{{ xhrLinksClass }}" {{ xhrLinksAttr|raw }}><i class="pumicon pumicon-pencil"></i> {{ "macro.form_viewchoices.view_edit"|trans({}, 'pum') }}</a>
            </li>
            <li role="presentation">
                <a data-cancel="{{ "macro.form_viewchoices.view_delete_modal_btn_cancel"|trans({}, 'pum') }}" data-confirm="{{ "macro.form_viewchoices.view_delete_modal_btn_confirm"|trans({}, 'pum') }}" data-text='{{ "macro.form_viewchoices.view_delete_modal_content"|trans({'%name%': currentView}, "pum") }}' {{ xhrLinksHref }}="{{ path('pa_formview_delete', {beamName: beam.name, name: object_definition.name, id: object_id, viewName: currentView}) }}" class="{{ xhrLinksClass }}" {{ xhrLinksCancelAttr|raw }}><i class="pumicon pumicon-minus5"></i> {{ "macro.form_viewchoices.view_delete"|trans({}, 'pum') }}</a>
            </li>
        {% endif %}

        {% if is_granted('ROLE_PA_VIEW_EDIT') %}
            <li role="presentation" class="divider"></li>
            <li role="presentation">
                <a {{ xhrLinksHref }}="{{ path('pa_formview_create', {beamName: beam.name, name: object_definition.name, id: object_id}) }}" class="{{ xhrLinksClass }}" {{ xhrLinksAttr|raw }}><i class="pumicon pumicon-plus2"></i> {{ "macro.form_viewchoices.view_create"|trans({}, 'pum') }}</a>
            </li>
        {% endif %}
    </ul>
{% endmacro %}

{# Confirmation message #}
{#
    TODO:
    - Group Confirmations in a single alert
    - Display Error color code on each item
#}

{% macro alertMessages() %}
    {% set formMessages = {
        danger: app.session.flashbag.get('message_error'),
        warning: app.session.flashbag.get('message_warning'),
        success: app.session.flashbag.get('message_success')
    } %}

    {% for typeMessage,listMessages in formMessages %}
        {% if listMessages|length > 0 %}
            <div class="alert alert-dismissable alert-{{ typeMessage }}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <ul>
                    {% for singleMessage in listMessages %}
                        <li>{{ singleMessage }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}

{# Add button on relation tab #}
{% macro relationAddButton(route, routeparams) %}
{% spaceless %}
    {% if app.request.xmlHttpRequest %}
        {% set xhrLinksHref = 'href' %}
        {% set xhrLinksClass = 'yaah-js' %}
        {% set xhrLinksAttr = 'data-ya-target="#pumAjaxModal .modal-content" data-ya-location="inner"' %}
    {% else %}
        {% set xhrLinksHref = 'href' %}
        {% set xhrLinksClass = '' %}
        {% set xhrLinksAttr = '' %}
    {% endif %}

    <a class="btn btn-success add-relation {{ xhrLinksClass }}" {{ xhrLinksHref }}="{{ path(route, routeparams) }}" {{ xhrLinksAttr|raw }}>
        <i class="pumicon pumicon-plus2"></i>
        <small>{{ 'pa.object.add'|trans({}, 'pum') }}</small>
    </a>
{% endspaceless %}
{% endmacro %}

{# Query merge and normalize sort #}
{% macro addQuery(data) %}
{% spaceless %}
    {{ app.request.query.all|merge(data)|sort|url_encode }}
{% endspaceless %}
{% endmacro %}

{# Query merge with path #}
{% macro addPathQuery(data) %}
{% spaceless %}
    {{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) ~ '?' ~ app.request.query.all|merge(data)|sort|url_encode }}
{% endspaceless %}
{% endmacro %}


{# Form label translation, thanks to http://www.elao.com/ #}
{% macro form_get_translate_key(form, suffix='label') %}
{% spaceless %}
    {% set v = form.vars.unique_block_prefix|lower|split('_') %}
    {% set p = v[1] %}
    {% set v = v|slice(2) %}

    {% if p is empty %}
        {% set p = 'pum' %}
    {% endif %}

    {% set final_label = [p, 'form']|merge(v) %}

    {% set newv = [] %}

    {% for k in final_label %}
        {% if k is not empty %}
            {% set newv = newv|merge([k]) %}
        {% endif %}
    {% endfor %}

    {{ newv|join('.')|lower ~ '.' ~ suffix }}
{% endspaceless %}
{% endmacro %}

{# Display FormView Tree #}
{% macro displayFormViewTree(parentNode, form) %}
{% spaceless %}
    {% for node in parentNode.children %}
        {% if node.isGroupField %}
            {% set accordionId = 'accordion' ~ parentNode.id ~ node.id  %}
            <div class="panel-group" id="{{ accordionId }}" role="tablist" aria-multiselectable="true">
                {{ _self.displayFormViewGroup(node, form, accordionId) }}
            </div>
        {% elseif node.isField %}
            {{ _self.displayFormViewField(node, form) }}
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endmacro %}

{# Display FormView Group #}
{% macro displayFormViewGroup(node, form, accordionId) %}
{% spaceless %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{ node.id }}">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#{{ accordionId }}" href="#collapse{{ node.id }}" aria-expanded="true" aria-controls="collapse{{ node.id }}">
                    {{ node.name }}
                </a>
            </h4>
        </div>
        <div id="collapse{{ node.id }}" class="panel-collapse collapse in" role="tabpane{{ node.id }}" aria-labelledby="heading{{ node.id }}">
            <div class="panel-body">
                {% for child in node.children %}
                    {{ _self.displayFormViewField(child, form) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endspaceless %}
{% endmacro %}

{# Display FormView Field #}
{% macro displayFormViewField(node, form) %}
{% spaceless %}
    {% if node.formViewField is not null %}
        {% set fieldName = node.formViewField.field.camelCaseName %}
        {{ form_row(attribute(form, fieldName)) }}
    {% endif %}
{% endspaceless %}
{% endmacro %}

{# Display ObjectView Tree #}
{% macro displayObjectViewTree(parentNode, object) %}
{% spaceless %}
    {% for node in parentNode.children %}
        {% if node.isGroupField %}
            {% set accordionId = 'accordion' ~ parentNode.id ~ node.id  %}
            <div class="panel-group" id="{{ accordionId }}" role="tablist" aria-multiselectable="true">
                {{ _self.displayObjectViewGroup(node, object, accordionId) }}
            </div>
        {% elseif node.isField %}
            {% if loop.first %}
                <table class="table table-bordered">
                    <col width="33%" />
                    <col width="66%" />
                    <tbody>
            {% endif %}
                {{ _self.displayObjectViewField(node, object) }}
            {% if loop.last %}
                    </tbody>
                </table>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endmacro %}

{# Display ObjectView Group #}
{% macro displayObjectViewGroup(node, object, accordionId) %}
{% spaceless %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{ node.id }}">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#{{ accordionId }}" href="#collapse{{ node.id }}" aria-expanded="true" aria-controls="collapse{{ node.id }}">
                    {{ node.name }}
                </a>
            </h4>
        </div>
        <div id="collapse{{ node.id }}" class="panel-collapse collapse in" role="tabpane{{ node.id }}" aria-labelledby="heading{{ node.id }}">
            <div class="panel-body">
                <table class="table table-bordered">
                    <col width="33%" />
                    <col width="66%" />
                    <tbody>
                        {% for child in node.children %}
                            {{ _self.displayObjectViewField(child, object) }}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endspaceless %}
{% endmacro %}

{# Display ObjectView Field #}
{% macro displayObjectViewField(node, object) %}
{% spaceless %}
    {% if node.objectViewField is not null %}
        <tr>
            <th class="text-right">{{ node.objectViewField.label|pum_humanize }}</th>
            <td>
                {% if node.objectViewField.field.type != 'media' %}
                    {{ pum_view_field(object, node.objectViewField.field.name, 'objectview') }}
                {% else %}
                    {{ pum_view_media(object, node.objectViewField.field.name, 'objectview', {'width': 40}) }}
                {% endif %}
            </td>
        </tr>
    {% endif %}
{% endspaceless %}
{% endmacro %}
