{% extends "form_div_layout.html.twig" %}

{% block ww_field_type_widget %}
    {% set attr = attr|merge({'data-url': path('ww_ajax_field_type_options'), class: 'field-type', 'data-name': full_name|replace({'[type]': '[type_options]'})}) %}
    {{ block('choice_widget') }}
{% endblock %}

{% block ww_field_definition_widget %}
    <div class="collection-element panel pum-scheme-panel animated">
        <div class="panel-heading form-inline">
            <h4 class="panel-title">
                {% set auto_hide_init_class = ' vhidden' %}
                {% for child in form %}
                    {% if not child.vars.compound %}
                        {{ form_row(child) }}
                    {% else %}
                        {% set auto_hide_init_class = '' %}
                    {% endif %}
                {% endfor %}
                <a class="pull-right accordion-toggle collapsed panel-control pum-scheme-toggle-primary{{ auto_hide_init_class }}" data-toggle="collapse" data-parent="#{{ form.parent.vars.id }}" href="#panel_{{ form.vars.id }}" data-autohide="true"><i class="pumicon pumicon-settings"></i></a>
            </h4>
        </div>
        <div id="panel_{{ form.vars.id }}" class="panel-collapse collapse">
            <div class="panel-body type-options">
                {% for child in form %}
                    {% if child.vars.compound == true %}
                        {{ form_widget(child) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock ww_field_definition_widget %}

