{% extends "form_div_layout.html.twig" %}

{# Widgets #}

{% block form_widget_simple %}
{% spaceless %}
    {% if attr.class is defined %}
        {% set class = attr.class ~ ' form-control' %}
    {% else %}
        {% set class = 'form-control' %}
    {% endif %}
    {% set attr = attr|merge({class: class}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block ww_field_type_widget %}
    {% set attr = attr|merge({'data-url': path('ww_ajax_field_type_options'), class: 'field-type', 'data-name': full_name|replace({'[type]': '[type_options]'})}) %}
    {{ block('choice_widget') }}
{% endblock %}

{% block ww_field_definition_widget %}
    {{ form_row(form.name) }}
    {{ form_row(form.type) }}
    <div class="type-options">
        {% if form.type_options is defined %}
            {{ form_widget(form.type_options) }}
        {% endif %}
    </div>
{% endblock %}

{% block submit_widget %}
{% spaceless %}
    {% if attr.class is defined %}
        {% set class = attr.class ~ ' btn btn-primary' %}
    {% else %}
        {% set class = 'btn btn-primary' %}
    {% endif %}
    {% set attr = attr|merge({class: class}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock %}

{% block choice_widget_expanded %}
{% spaceless %}
    {% for child in form %}
        {{ form_label(
            child,
            null,
            {
                in_choice_list: true,
                widget        : form_widget(child),
                multiple      : multiple,
            }
        ) }}
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block money_widget %}
{% spaceless %}
    {% set append = '{{' == money_pattern[0:2] %}
    <div class="{{ append ? 'input-append' : 'input-prepend' }}">
        {% if not append %}
            <span class="add-on">
                {{ money_pattern|replace({ '{{ widget }}':''}) }}
            </span>
        {% endif %}
        {{ block('form_widget_simple') }}
        {% if append %}
            <span class="add-on">
                {{ money_pattern|replace({ '{{ widget }}':''}) }}
            </span>
        {% endif %}
    </div>

{% endspaceless %}
{% endblock money_widget %}

{% block percent_widget %}
{% spaceless %}
    <div class="input-append">
        {{ parent() }}
        <span class="add-on">%</span>
    </div>
{% endspaceless %}
{% endblock percent_widget %}

{% block collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_widget(prototype) }) %}
    {% endif %}
    <div class="collection-set" {{ block('widget_attributes') }}>
        {% for subform in form %}
            <div class="collection-element well">
                {{ form_widget(subform) }}
            </div>
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock collection_widget %}

{# Labels #}

{% block form_label %}
{% spaceless %}
    {% if in_choice_list is defined and in_choice_list and widget is defined %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({for: id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}

        {% if multiple is defined and multiple %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' checkbox')|trim}) %}
        {% elseif multiple is defined and not multiple %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' radio')|trim}) %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %} class="control-label col-lg-4">
            {{ widget|raw }}
            <span>
                {{ label|trans({}, translation_domain) }}
            </span>
        </label>
    {% else %}
        {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label col-lg-4')|trim}) %}
        {{ parent() }}
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{# Form #}

{% block form_start %}
{% spaceless %}
    {% if attr.class is defined %}
        {% if not 'form-horizontal' in attr.class %}
            {% set attr = attr|merge({class: attr.class ~ ' form-horizontal', novalidate: 'novalidate'}) %}
        {% endif %}
    {% else %}
        {% set attr = attr|merge({class: 'form-horizontal', novalidate: 'novalidate'}) %}
    {% endif %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_start %}


{# Rows #}

{% block form_section_row %}
{% spaceless %}
        <fieldset>
            <legend>{{ label|default(name|humanize) }}</legend>
            {{ form_widget(form) }}
        </fieldset>
{% endspaceless %}
{% endblock form_section_row %}

{% block form_row %}
{% spaceless %}
    <div class="form-group{% if not compound and not valid %} error{% endif %}">
        {{ form_label(form, label|default(null)) }}
        <div class="col-lg-6">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block submit_row %}
{% spaceless %}
    <hr />
    <div class="text-center">
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock %}


{# Errors #}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    {% if form.parent %}<span class="help-inline">{% else %}<div class="alert alert-error error" >{% endif %}
        {{ parent() }}
    {% if form.parent %}</span>{% else %}</div>{% endif %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
