{% extends "form_div_layout.html.twig" %}

{% block ww_field_type_widget %}
    {% set attr = attr|merge({'data-url': path('ww_ajax_field_type_options'), class: 'field-type', 'data-name': full_name|replace({'[type]': '[type_options]'})}) %}
    {{ block('choice_widget') }}
{% endblock %}

{% block ww_field_definition_widget %}
    <div class="collection-element panel pum-scheme-panel animated">
        <div class="panel-heading form-inline">
            <h4 class="panel-title">
                {% set auto_hide_init_class = ' vhidden' %}
                {% for child in form %}
                    {% if not child.vars.compound %}
                        {{ form_row(child) }}
                    {% else %}
                        {% set auto_hide_init_class = '' %}
                    {% endif %}
                {% endfor %}
                <a class="pull-right accordion-toggle collapsed panel-control pum-scheme-toggle-primary{{ auto_hide_init_class }}" data-toggle="collapse" data-parent="#{{ form.parent.vars.id }}" href="#panel_{{ form.vars.id }}" data-autohide="true"><i class="pumicon pumicon-settings"></i></a>
            </h4>
        </div>
        <div id="panel_{{ form.vars.id }}" class="panel-collapse collapse">
            <div class="panel-body type-options">
                {% for child in form %}
                    {% if child.vars.compound == true %}
                        {{ form_widget(child) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock ww_field_definition_widget %}

{% block ww_seo_widget %}
    {% spaceless %}
        <div class="collection-element panel pum-scheme-panel">
            <div class="panel-heading {{ (form|length > 1) ? 'form-inline' : '' }}">
                <h4 class="panel-title">
                    {% if form|length > 1 %}
                        {% for child in form %}
                            {{ form_widget(child) }}
                        {% endfor %}
                    {% else %}
                        {{ form_widget(form, {
                            'attr': {
                                'class': 'form-single-control'
                            }
                        }) }}
                    {% endif %}
                </h4>
            </div>
        </div>
    {% endspaceless %}
{% endblock ww_seo_widget %}

{# ENABLE + SETTINGS #}
{% block ww_enable_and_settings_row %}
    {% spaceless %}
        <div id="panel-{{ form.vars.id }}" class="collection-element panel-group panel {{ attr.class|default('') }}">
            {% for child in form %}
                {% if loop.first %}
                    <div class="panel-heading">
                        <h4 class="panel-title form-single-control">
                            {{ form_row(child, {
                                'attr': {
                                    'data-toggle': 'inputcollapse',
                                    'data-parent': '#panel-'~form.vars.id,
                                    'data-target': '#collapse-'~child.vars.name
                                }
                            }) }}
                        </h4>
                    </div>
                    <div id="collapse-{{ child.vars.name }}" class="collapse {{ (child.vars.checked) ? 'in' : '' }}">
                        <div class="panel-body">
                {% else %}
                    {{ form_row(child) }}
                {% endif %}
                {{ (loop.last) ? '</div></div>' : '' }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock ww_enable_and_settings_row %}


{#  SPECIFIC FIELDS (rendering others) #}
{% block ww_object_definition_seo_row %}
    {% spaceless %}
        {{ block('ww_enable_and_settings_row') }}
    {% endspaceless %}
{% endblock ww_object_definition_seo_row %}

{% block ww_object_definition_security_user_row %}
    {% spaceless %}
        {{ block('ww_enable_and_settings_row') }}
    {% endspaceless %}
{% endblock ww_object_definition_security_user_row %}
