{# MEDIA #}
{% if value != null %}
    {% if value.isImage %}
        <a rel="popoverimg" data-img="{{ value.mediaUrl(storage, oversize|default(160)) }}" data-img_width="{{ oversize|default(160) }}" data-placement="bottom"><img alt="{{ value.name }}" src="{{ value.mediaUrl(storage, width|default(40)) }}" /></a>
    {% else %}
        <a href="{{ value.mediaUrl(storage) }}"><i class="{{ value.mediaType }}">{{ value.name }}</i></a>
    {% endif %}
{% else %}
    <span class="val-empty">{{ "common.generic.empty"|trans({}, 'pum') }}</span>
{% endif %}
