<nav class="pum-subsidebar hidden-xs">
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{{ path('ww_object_definition_create', {beamName: beam.name}) }}">
                {% if beam.objects|length > 0 %}
                    <span class="badge pull-right">{{ beam.objects|length }}</span>
                {% endif %}
                <i class="pumicon pumicon-plus2"></i>
                {{ 'ww.beams.leftnav.link_object_create'|trans({}, 'pum') }}
            </a>
        </li>
        <li>
            <a href="{{ path('ww_object_definition_import', {beamName: beam.name}) }}">
                <i class="pumicon pumicon-upload"></i>
                {{ 'ww.beams.leftnav.link_object_import'|trans({}, 'pum') }}
            </a>
        </li>
        {% if sidebar is defined %}
            {% if sidebar.beams is defined %}
                <li class="nav-header">
                    {{ 'ww.beams.leftnav.title_beams'|trans({}, 'pum') }}
                </li>
                {% for sidebarBeam in sidebar.beams %}
                    <li>
                        <a href="{{ path('ww_beam_edit', {beamName: sidebarBeam.name}) }}" class="pum-scheme-hovercolor-{{ sidebarBeam.color }}">
                            <i class="pumicon pumicon-{{ sidebarBeam.icon }}"></i>
                            <strong>{{ sidebarBeam.aliasName }}</strong>
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if sidebar.objects is defined %}
                <li class="nav-header">
                    {{ ('ww.beams.leftnav.title_objects'|trans({'%beam%': beam.aliasName|pum_humanize}, 'pum'))|raw }}
                </li>
                <li class="btn-group" id="js-sidebar-objects">
                    <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                        Access to an object <span class="caret"></span>
                    </span>
                    <ul class="dropdown-menu">
                        {% for sidebarObject in sidebar.objects %}
                            <li title="{{ sidebarObject.aliasName }}" data-toggle="tooltip" data-placement="right" data-container="body">
                                <a href="{{ path('ww_object_definition_edit', {beamName: beam.name, name: sidebarObject.name}) }}">
                                    {{ sidebarObject.aliasName|pum_humanize }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
