{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = 'beams' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('ww_homepage') }}">Homepage</a><span class="divider">/</span></li>
        <li><a href="{{ path('ww_beam_list') }}">Beams</a> <span class="divider">/</span></li>
        <li class="active">Edit {{ beam.name }}</li>
    </ul>
	<h2>
        Edit beam "{{ beam.name }}"
	</h2>
	{{form(form)}}

    <h3>Definitions</h3>
	<table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Object</th>
                <th>Fields</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        	{% set createbutton = false %}
            {% for object in beam.objects %}
                <tr>
                    <td>
                        {{ object.name }}
                    </td>
                    <td>
                        {% for field in object.fields %}
                            {{ field.name }}<br />
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn" title="Edit object {{ object.name }}" href="{{ path('ww_object_definition_edit', {beamName: beam.name, name: object.name}) }}"><i class="icon-edit"></i> Edit</a>
                        <a class="btn btn-danger" title="Delete object {{ object.name }}" data-cancel="Cancel" data-confirm="Delete" data-text='Are you sure to delete this object "{{ object.name }}" ?' href="{{ path('ww_object_definition_delete', {beamName: beam.name, name: object.name}) }}"><i class="icon-trash icon-white"></i> Delete</a>
                    </td>
                </tr>
            {% else %}
            	{% set createbutton = true %}
                <tr class="info">
                    <td colspan="3"><em>No object found. <a href="{{ path('ww_object_definition_create', {beamName: beam.name}) }}">Create a new object</a></td>
                </em>
            {% endfor %}
            {% if createbutton == false %}
	            <tr>
	            	<td colspan="3">
	           			<a class="btn btn-success" href="{{ path('ww_object_definition_create', {beamName: beam.name}) }}"><i class="icon-plus icon-white"></i> Create a new object</a>
	           		</td>
	           	</tr>
           	{% endif %}
        </tbody>
    </table>

    <h3>Relations</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Origin object</th>
                <th>Origin field name</th>
                <th>Relation type</th>
                <th>Destination object</th>
                <th>Destination field name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% set createbutton = false %}
            {% for relation in beam.relations %}
                <tr>
                    <td>
                        {{ relation.from }}
                    </td>
                    <td>
                        {{ relation.fromName }}
                    </td>
                    <td>
                        {{ relation.type }}
                    </td>
                    <td>
                        {{ relation.to }}
                    </td>
                    <td>
                        {{ relation.toName }}
                    </td>
                    <td>
                        <a class="btn" title="Edit relation" href="#"><i class="icon-edit"></i> Edit</a>
                        <a class="btn btn-danger" title="Delete relation" data-cancel="Cancel" data-confirm="Delete" data-text="Are you sure to delete this relation ?" href="{{ path('ww_relation_delete', {beamName: beam.name, relationId: relation.id}) }}"><i class="icon-trash icon-white"></i> Delete</a>
                    </td>
                </tr>
            {% else %}
                {% set createbutton = true %}
                <tr class="info">
                    <td colspan="6"><em>No relation found. <a href="#">Create a new relation</a></td>
                </em>
            {% endfor %}
            {% if createbutton == false %}
                <tr>
                    <td colspan="6">
                        <a class="btn btn-success" href="#"><i class="icon-plus icon-white"></i> Create a new relation</a>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
