{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = 'beams' %}

{% block subsidebar %}
    {% include "PumWoodworkBundle::Beam/includes/sidebar.html.twig" %}
{% endblock %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('ww.beams.edit.title'|trans({}, 'pum'), 'ww.beams.edit.description'|trans({ '%name%':'<strong>' ~ beam.name|pum_ucfirst ~ '</strong>' }, 'pum'), beam.name|pum_ucfirst, [
            {
                href: path('ww_homepage'),
                text: 'common.woodwork.breadcrumb'|trans({}, 'pum')
            },
            {
                href: path('ww_beam_list'),
                text: 'ww.beams.breadcrumb'|trans({}, 'pum')
            },
            {
                text: 'ww.beams.edit.description'|trans({ '%name%':'<strong>' ~ beam.name|pum_ucfirst ~ '</strong>' }, 'pum')
            }
        ]) }}
    </div>

    <div class="row">
        <div class="col-lg-12 col-offset-auto">

            <ul class="nav nav-tabs pum-scheme-tabs">
                <li class="{{ (pum_tab == 'objects') ? 'active' : '' }}">
                    <a href="#ww_beam_edit_object" data-toggle="tab">
                        {# Object Definitions #}
                        <i class="pumicon pumicon-stack }}"></i> &nbsp;{{ 'ww.beams.edit.objectdefinitions.tab'|trans({}, 'pum') }}
                    </a>
                </li>
                <li class="{{ (pum_tab == 'metas') ? 'active' : '' }}">
                    <a href="#ww_beam_edit_metas" data-toggle="tab">
                        {# Properties #}
                        <i class="pumicon pumicon-settings2 }}"></i> &nbsp;{{ 'ww.beams.edit.properties.tab'|trans({}, 'pum') }}
                    </a>
                </li>
                <li >
                    <a href="{{ path('ww_beam_relation_schema_edit', {beamName: beam.name}) }}">
                        {# Relations #}
                        <i class="pumicon pumicon-flow-tree }}"></i> &nbsp;{{ 'ww.beams.edit.relations.tab'|trans({}, 'pum') }}
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane{{ (pum_tab == 'objects') ? ' active' : '' }}" id="ww_beam_edit_object">
                    <div class="row">
                        <div class="col-lg-12 col-offset-auto">
                            <fieldset>
                                <legend>
                                    <a class="btn btn-xs pum-scheme-btn-primary pull-right" href="{{ path('ww_object_definition_create', {beamName: beam.name}) }}">
                                        <i class="icon-plus icon-white"></i> {{ 'ww.beams.edit.objectdefinitions.top_btn_object_create'|trans({}, 'pum') }}
                                    </a>
                                    {# Object Definitions #}
                                    {{ 'ww.beams.edit.objectdefinitions.title'|trans({}, 'pum') }}
                                </legend>

                                {% if pum_tab == 'objects' %}
                                    {{ pum_macros.alertMessages() }}
                                {% endif %}

                                {% if beam.objects|length > 0 %}
                                    {% for object in beam.objects %}
                                        {{ (loop.first) ? '<div class="row">' : '' }}

                                        <div class="col-md-3">
                                            <div class="panel panel-condensed panel-toolbar-footer pum-scheme-panel" data-highlight_from="{{ object.name }}">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">{{ object.name }}</h3>
                                                </div>

                                                {% set relations_external = [] %}
                                                {% set fields_regular = [] %}
                                                {% set fields_relation = true %}

                                                {# RELATIONS FIELDS #}
                                                {% for field in object.fields %}
                                                    {% if field.type != 'relation' %}
                                                        {% set fields_regular = fields_regular|merge([field]) %}
                                                    {% elseif field.type == 'relation' and field.typeOption('is_external') == true %}
                                                        {% set relations_external = relations_external|merge([field]) %}
                                                    {% else %}
                                                        {% if fields_relation %}
                                                            <table class="table table-condensed">
                                                                <col width="50%" />
                                                                <col width="50%" />
                                                                <thead>
                                                                    <th colspan="2">
                                                                        {{ 'ww.beams.edit.objectdefinitions.table_th_relations'|trans({}, 'pum') }}
                                                                    </th>
                                                                </thead>
                                                                <tbody>
                                                            {% set fields_relation = false %}
                                                        {% endif %}

                                                        {% set field_relation_type = '' %}
                                                        <tr data-highlight_to="' ~ field.typeOptions.target ~'">
                                                            <td class="text-right">
                                                                <strong class="pum-scheme-colored-alizarin">
                                                                    {{ field.name }}
                                                                </strong>
                                                            </td>
                                                            <td class="text-left">
                                                                <i class="text-muted pumicon pumicon-{{ field.typeOptions.type }}" data-toggle="tooltip" title="{{ field.typeOptions.type }} &raquo; {{ field.typeOptions.target }}" data-placement="left"></i>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                    {% if loop.last and fields_relation == false %}
                                                            </tbody>
                                                        </table>
                                                    {% endif %}
                                                {% endfor %}

                                                {# EXTERNAL FIELDS #}
                                                {% for field in relations_external %}
                                                    {% if loop.first %}
                                                        <table class="table table-condensed">
                                                            <col width="50%" />
                                                            <col width="50%" />
                                                            <thead>
                                                                <th colspan="2">
                                                                    {{ 'ww.beams.edit.objectdefinitions.table_th_externalrelations'|trans({}, 'pum') }}
                                                                </th>
                                                            </thead>
                                                            <tbody>
                                                    {% endif %}
                                                    <tr>
                                                        <td class="text-right">
                                                            <strong class="pum-scheme-colored-alizarin">
                                                                {{ field.name }}
                                                            </strong>
                                                        </td>
                                                        <td class="text-left">
                                                            <i class="text-muted pumicon pumicon-{{ field.typeOptions.type }}" data-toggle="tooltip" title="{{ field.typeOptions.type }} &raquo; {{ field.typeOptions.target }}" data-placement="left"></i>
                                                        </td>
                                                    </tr>
                                                    {% if loop.last %}
                                                            </tbody>
                                                        </table>
                                                    {% endif %}
                                                {% endfor %}

                                                {# REGULAR FIELDS #}
                                                {% for field in fields_regular %}
                                                    {% if loop.first %}
                                                        <table class="table table-condensed">
                                                            <col width="50%" />
                                                            <col width="50%" />
                                                            <thead>
                                                                <th colspan="2">
                                                                    {{ 'ww.beams.edit.objectdefinitions.table_th_regularfields'|trans({}, 'pum') }}
                                                                </th>
                                                            </thead>
                                                            <tbody>
                                                    {% endif %}
                                                    <tr>
                                                        <td class="text-right">
                                                            <strong class="pum-scheme-colored-peterriver">
                                                                {{ field.name }}
                                                            </strong>
                                                        </td>
                                                        <td class="text-left">
                                                            <code class="text-muted">{{ field.type }}</code>
                                                        </td>
                                                    </tr>
                                                    {% if loop.last %}
                                                            </tbody>
                                                        </table>
                                                    {% endif %}
                                                {% endfor %}

                                                {# SEO #}
                                                {% if object.seoEnabled == true %}
                                                    <table class="table table-condensed">
                                                        <col width="50%" />
                                                        <col width="50%" />
                                                        <thead>
                                                            <th colspan="2">
                                                                {{ 'ww.beams.edit.objectdefinitions.table_th_routing'|trans({}, 'pum') }}
                                                            </th>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-right">
                                                                    <strong class="text-muted">{{ 'ww.beams.edit.objectdefinitions.table_routing_field'|trans({}, 'pum') }}</strong>
                                                                </td>
                                                                <td class="text-left">
                                                                    {% if object.seoField is not empty and object.seoField is not null %}
                                                                        <strong class="pum-scheme-colored-amethyst">
                                                                            {{ object.seoField.name }}
                                                                        </strong>
                                                                    {% else %}
                                                                        <small class="text-muted">{{ 'ww.beams.edit.objectdefinitions.table_routing_field_null'|trans({}, 'pum') }}</small>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-right">
                                                                    <strong class="text-muted">{{ 'ww.beams.edit.objectdefinitions.table_routing_defaulttemplate'|trans({}, 'pum') }}</strong>
                                                                </td>
                                                                <td class="text-left">
                                                                    {% if object.seoTemplate is not empty and object.seoTemplate is not null %}
                                                                        {% set template = object.seoTemplate|split('/')|reverse %}
                                                                        <strong class="pum-scheme-colored-amethyst" data-toggle="tooltip" title="{{ object.seoTemplate }}" data-placement="left">
                                                                            {{ template.0 }}
                                                                        </strong>
                                                                    {% else %}
                                                                        <small class="text-muted">{{ 'ww.beams.edit.objectdefinitions.table_routing_defaulttemplate_null'|trans({}, 'pum') }}</small>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                {% endif %}

                                                {# Security User #}
                                                {% if object.securityUserEnabled == true %}
                                                    <table class="table table-condensed">
                                                        <thead>
                                                            <th colspan="2">
                                                                {{ 'ww.beams.edit.objectdefinitions.table_th_security'|trans({}, 'pum') }}
                                                            </th>
                                                        </thead>
                                                        <tbody>
                                                            {% if object.securityUsernameField.name is defined %}
                                                                <tr>
                                                                    <td class="text-right">
                                                                        <strong class="text-muted">{{ 'ww.beams.edit.objectdefinitions.table_security_username'|trans({}, 'pum') }}</strong>
                                                                    </td>
                                                                    <td class="text-left">
                                                                        <strong class="pum-scheme-colored-carrot">
                                                                            {{ object.securityUsernameField.name }}
                                                                        </strong>
                                                                    </td>
                                                                </tr>
                                                            {% endif %}
                                                            {% if object.securityPasswordField.name is defined %}
                                                                <tr>
                                                                    <td class="text-right">
                                                                        <strong class="text-muted">{{ 'ww.beams.edit.objectdefinitions.table_security_password'|trans({}, 'pum') }}</strong>
                                                                    </td>
                                                                    <td class="text-left">
                                                                        <strong class="pum-scheme-colored-carrot">
                                                                            {{ object.securityPasswordField.name }}
                                                                        </strong>
                                                                    </td>
                                                                </tr>
                                                            {% endif %}
                                                        </tbody>
                                                    </table>
                                                {% endif %}

                                                <div class="panel-footer text-left clearfix">
                                                    <div class="table-layout">
                                                        <div class="table-layout-row">
                                                            <div class="table-layout-cell">
                                                                <a class="btn btn-xs btn-danger" title="{{ 'ww.beams.edit.objectdefinitions.btn_object_delete_title'|trans({ '%name%':object.name }, 'pum') }}" data-cancel="{{ 'ww.beams.edit.modal_object_delete_btn_cancel'|trans({}, 'pum') }}" data-confirm="{{ 'ww.beams.edit.modal_object_delete_btn_confirm'|trans({}, 'pum') }}" data-text="{{ 'ww.beams.edit.modal_object_delete_title'|trans({}, 'pum') }}" data-content='{{ 'ww.beams.edit.modal_object_delete_content'|trans({ '%name%':object.name }, 'pum') }}' href="{{ path('ww_object_definition_delete', {beamName: beam.name, name: object.name}) }}">
                                                                    {{ 'ww.beams.edit.objectdefinitions.btn_object_delete'|trans({}, 'pum') }}
                                                                </a>
                                                                <a class="btn btn-xs btn-primary" title="{{ 'ww.beams.edit.objectdefinitions.btn_object_export_title'|trans({ '%name%':object.name }, 'pum') }}" href="{{ path('ww_object_definition_export', {beamName: beam.name, name: object.name}) }}">
                                                                    {{ 'ww.beams.edit.objectdefinitions.btn_object_export'|trans({}, 'pum') }}
                                                                </a>
                                                            </div>
                                                            <div class="table-layout-cell text-right">
                                                                <a class="btn btn-sm pum-scheme-btn-darkgrass" title="{{ 'ww.beams.edit.objectdefinitions.btn_object_edit_title'|trans({ '%name%':object.name }, 'pum') }}" href="{{ path('ww_object_definition_edit', {beamName: beam.name, name: object.name}) }}">
                                                                    {{ 'ww.beams.edit.objectdefinitions.btn_object_edit'|trans({}, 'pum') }}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        {{ (loop.index % 4 == 0) ? '</div><div class="row">' : '' }}

                                        {{ (loop.last) ? '</div>' : '' }}
                                    {% endfor %}
                                {% else %}
                                    <div class="alert text-center">
                                        <em>
                                            {{ 'ww.beams.edit.objectdefinitions.table_object_null'|trans({ '%link%':'<a href="' ~ path('ww_object_definition_create', {beamName: beam.name}) ~ '">', '%/link%':'</a>' }, 'pum')|raw }}
                                        </em>
                                    </div>
                                {% endif %}
                            </fieldset>
                        </div>
                    </div>

                </div>
                <div class="tab-pane{{ (pum_tab == 'metas') ? ' active' : '' }}" id="ww_beam_edit_metas">
                    <div class="row">
                        <div class="col-lg-12 col-offset-auto">
                            {% if pum_tab == 'metas' %}
                                {{ pum_macros.alertMessages() }}
                            {% endif %}

                            {{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
