{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = 'beams' %}

{% block subsidebar %}
    <nav class="pum-subsidebar hidden-xs">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-header">
                Beam
            </li>
            <li>
                <a href="{{ path('ww_object_definition_create', {beamName: beam.name}) }}">
                    {% if beam.objects|length > 0 %}
                        <span class="badge pull-right">{{ beam.objects|length }}</span>
                    {% endif %}
                    Create a new Object
                </a>
            </li>
            <li>
                <a href="{{ path('ww_object_definition_import', {beamName: beam.name}) }}">
                    Import an object
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('Beams', 'Editing the Beam <strong>' ~ beam.name|title ~'</strong>', null, [
            {
                href: path('ww_homepage'),
                text: 'Woodwork'
            },
            {
                href: path('ww_beam_list'),
                text: 'Beams'
            },
            {
                text: 'Editing the Beam <strong>' ~ beam.name|humanize|title ~ '</strong>'
            }
        ]) }}
    </div>

    <div class="row">
        <div class="col-lg-12 col-offset-auto">

            <ul class="nav nav-tabs">
                <li class="{{ (pum_tab == 'objects') ? 'active' : '' }}">
                    <a href="#ww_beam_edit_object" data-toggle="tab">
                        Object Definitions
                    </a>
                </li>
                <li class="{{ (pum_tab == 'metas') ? 'active' : '' }}">
                    <a href="#ww_beam_edit_metas" data-toggle="tab">
                        Properties
                    </a>
                </li>
                <li >
                    <a href="{{ path('ww_beam_relation_schema_edit', {beamName: beam.name}) }}">
                        Relations
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane{{ (pum_tab == 'objects') ? ' active' : '' }}" id="ww_beam_edit_object">
                    <div class="row">
                        <div class="col-lg-12 col-offset-auto">
                            <fieldset>
                                <legend>
                                    <a class="btn btn-xs pum-scheme-btn-primary pull-right" href="{{ path('ww_object_definition_create', {beamName: beam.name}) }}"><i class="icon-plus icon-white"></i> Create a new Object</a>
                                    Object Definitions
                                </legend>

                                {% if pum_tab == 'objects' %}
                                    {{ pum_macros.alertMessages() }}
                                {% endif %}

                                {% if beam.objects|length > 0 %}
                                    {% for object in beam.objects %}
                                        {% if loop.first %}
                                            <div class="row">
                                        {% endif %}
                                        <div class="col-md-2-5">
                                            <div class="panel panel-condensed panel-toolbar-footer pum-scheme-panel" data-highlight_from="{{ object.name }}">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">{{ object.name }}</h3>
                                                </div>

                                                {% set fields_regular = [] %}
                                                {% set fields_relation = true %}

                                                {# RELATIONS FIELDS #}
                                                {% for field in object.fields %}
                                                    {% if field.type != 'relation' %}
                                                        {% set fields_regular = fields_regular|merge([field]) %}
                                                    {% else %}
                                                        {% if fields_relation %}
                                                            <table class="table table-condensed">
                                                                <thead>
                                                                    <th>Relations</th>
                                                                </thead>
                                                                <tbody>
                                                            {% set fields_relation = false %}
                                                        {% endif %}

                                                        {% set field_relation_type = '' %}
                                                        <tr data-highlight_to="' ~ field.typeOptions.target ~'">
                                                            <td class="text-right">
                                                                <strong class="pull-left pum-scheme-colored-alizarin">
                                                                    {{ field.name }}
                                                                </strong>
                                                                <i class="text-muted pull-right pumicon pumicon-{{ field.typeOptions.type }}" data-toggle="tooltip" title="{{ field.typeOptions.type }} &raquo; {{ field.typeOptions.target }}" data-placement="left"></i>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                    {% if loop.last and fields_relation == false %}
                                                            </tbody>
                                                        </table>
                                                    {% endif %}
                                                {% endfor %}

                                                {# REGULAR FIELDS #}
                                                {% for field in fields_regular %}
                                                    {% if loop.first %}
                                                        <table class="table table-condensed">
                                                            <thead>
                                                                <th>Regular fields</th>
                                                            </thead>
                                                            <tbody>
                                                    {% endif %}
                                                    <tr>
                                                        <td class="text-right">
                                                            <strong class="pull-left pum-scheme-colored-peterriver">
                                                                {{ field.name }}
                                                            </strong>
                                                            <code class="text-muted">{{ field.type }}</code>
                                                        </td>
                                                    </tr>
                                                    {% if loop.last %}
                                                            </tbody>
                                                        </table>
                                                    {% endif %}
                                                {% endfor %}

                                                <div class="panel-footer text-center">
                                                    <a class="btn btn-sm pum-scheme-btn-darkgrass" title="Edit object {{ object.name }}" href="{{ path('ww_object_definition_edit', {beamName: beam.name, name: object.name}) }}">
                                                        Edit
                                                    </a>
                                                    <a class="btn btn-sm btn-danger" title="Delete object {{ object.name }}" data-cancel="Cancel" data-confirm="Delete" data-text="Delete Object" data-content='Are you sure to delete this object "{{ object.name }}" ?' href="{{ path('ww_object_definition_delete', {beamName: beam.name, name: object.name}) }}">
                                                        Delete
                                                    </a>
                                                    <a class="btn btn-sm btn-primary" title="Export object {{ object.name }}" href="{{ path('ww_object_definition_export', {beamName: beam.name, name: object.name}) }}">
                                                        Export
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        {% if loop.index % 5 == 0 %}
                                            </div>
                                            <div class="row">
                                        {% endif %}
                                        {% if loop.last %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <div class="alert text-center"><em>No object found. <a href="{{ path('ww_object_definition_create', {beamName: beam.name}) }}">Create a new one ?</a></em></div>
                                {% endif %}
                            </fieldset>
                        </div>
                    </div>

                </div>
                <div class="tab-pane{{ (pum_tab == 'metas') ? ' active' : '' }}" id="ww_beam_edit_metas">
                    <div class="row">
                        <div class="col-lg-12 col-offset-auto">
                            {% if pum_tab == 'metas' %}
                                {{ pum_macros.alertMessages() }}
                            {% endif %}

                            {{form(form)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
