{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active ='beams' %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('ww.beams.import.title'|trans({}, 'pum'), 'ww.beams.import.description'|trans({}, 'pum'), null, [
            {
                href: path('ww_homepage'),
                text: 'common.woodwork.breadcrumb'|trans({}, 'pum')
            },
            {
                href: path('ww_beam_list'),
                text: 'ww.beams.breadcrumb'|trans({}, 'pum')
            },
            {
                text: 'ww.beams.import.breadcrumb'|trans({}, 'pum')
            }
        ]) }}
    </div>

    {{ pum_macros.alertMessages() }}

    <div class="row">
        <div class="col-lg-6 col-offset-auto">
            <h3>{{ 'ww.beams.import.summary.title'|trans({}, 'pum') }}</h3>
            <ul>
                {% for file in files %}
                    <li>
                        {{ file }}
                    </li>
                {% endfor %}
            </ul>
            <a href="{{ path('ww_beam_import') }}">Annuler</a>
            <a href="{{ path('ww_beam_doimport', formData) }}">Valider</a>
        </div>
    </div>
{% endblock %}

