{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active ='beams' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('ww_homepage') }}">Homepage</a><span class="divider">/</span></li>
        <li class="active">Beams</li>
    </ul>
	<h2>
        <small class="btn-group pull-right">
            <a class="btn btn-success" href="{{ path('ww_beam_create') }}"><i class="icon-plus icon-white"></i> Create</a>
        </small>
        Beams
    </h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Definitions</th>
                <th>Project</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for beam in beams %}
                <tr>
                    <td>
                        {{ beam.name }}
                    </td>
                    <td>
                        {% for object in beam.objects %}
                            {{ object.name }}<br />
                        {% endfor %}
                    </td>
                    <td>
                        {% for project in beam.projects %}
                            {{ project.name }}<br />
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn" href="{{ path('ww_beam_edit', {beamName: beam.name}) }}"><i class="icon-edit"></i> Edit</a>
                        <a class="btn" href="#"><i class="icon-trash"></i> Delete</a>
                    </td>
                </tr>
            {% else %}
                <tr class="info">
                    <td colspan="3"><em>No beam found. <a href="{{ path('ww_beam_create') }}">Create a new beam</a></td>
                </em>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
