{% extends "PumWoodworkBundle::layout.html.twig" %}

{% block content %}
	<h2>
        <div class="btn-group pull-right">
            <a class="btn" href="{{ path('ww_homepage') }}"><i class="icon-chevron-left"></i>Back to homepage</a>
            <a class="btn btn-success" href="{{ path('ww_beam_definition_create') }}"><i class="icon-plus icon-white"></i> Create</a>
        </div>
        Beams
    </h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Definitions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for beam in beams %}
                <tr>
                    <td>
                        {{ beam.name }}
                    </td>
                    <td>
                        {% for object in beam.objects %}
                            {{ object.name }}<br />
                        {% endfor %}
                    <td>
                    <td>
                        <a class="btn" href="{{ path('ww_object_definition_list', {beamName: beam.name}) }}"><i class="icon-eye-open"></i> View</a>
                    </td>
                </tr>
            {% else %}
                <tr class="info">
                    <td colspan="2"><em>No beam found. <a href="#">Create a new beam</a></td>
                </em>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
