{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active ='beams' %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a class="btn btn-primary btn-small disabled"><i class="pumicon pumicon-download-3"></i> Import a Beam</a>
            <a href="{{ path('ww_beam_create') }}" class="btn btn-success"><i class="pumicon pumicon-plus-3"></i> Create a Beam</a>
            <!-- Change View
            <div class="btn-group" data-toggle="buttons">
                <label class="btn active">
                    <input type="radio" name="options" id="option1" checked="checked" /> <i class="pumicon pumicon-reorder"></i>
                </label>
                <label class="btn">
                    <input type="radio" name="options" id="option2" .> <i class="pumicon pumicon-th-large"></i>
                </label>
            </div>
            -->
        </div>
        {{ pum_macros.section_title('Beams', 'Manage all your beams', '', [
            {
                href: path('ww_homepage'),
                text: 'Dashboard'
            },
            {
                text: 'Beams'
            }
        ]) }}
    </div>

    <div class="row">
        <div class="col-lg-12 col-offset-auto">
            <table class="table table-bordered table-striped table-hover">
                <col width="3%" />
                <col width="3%" />
                <thead>
                    <tr>
                        <th class="text-center"><input type="checkbox" name="all_beams" /></th>
                        <th class="text-right">#</th>
                        <th class="pum-scheme-cell-belizehole pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                Name
                            </div>
                        </th>
                        <th class="pum-scheme-cell-belizehole pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                <i class="pumicon pumicon-archive"></i>
                                Definitions
                            </div>
                        </th>
                        <th class="pum-scheme-cell-pomegranate pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                <i class="pumicon pumicon-briefcase"></i>
                                Project
                            </div>
                        </th>
                        <th class="pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                <i class="pumicon pumicon-cogs-2"></i>
                                Actions
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for beam in beams %}
                        <tr id="beam_{{ beam.id }}">
                            <td class="text-center"><input type="checkbox" name="project[{{ beam.id }}]" value="1" /></td>
                            <td class="text-right">{{ beam.id }}</td>
                            <td class="pum-scheme-colored-belizehole">
                                <strong>{{ beam.name }}</strong>
                            </td>
                            <td class="pum-scheme-colored-belizehole">
                                {{ pum_macros.collapsed_list('beam_def_' ~ beam.id, beam.objects, ['defintion', 'defintions'], 5, 'code') }}
                            </td>
                            <td class="pum-scheme-colored-pomegranate">
                                {{ pum_macros.collapsed_list('beam_proj_' ~ beam.id, beam.projects, ['project', 'projects'], 5) }}
                            </td>
                            <td>
                                <a class="btn btn-small" title="Edit beam {{ beam.name }}" href="{{ path('ww_beam_edit', {beamName: beam.name}) }}">Edit</a>
                                <a class="btn btn-small btn-warning" title="Clone beam {{ beam.name }}" href="{{ path('ww_beam_clone', {beamName: beam.name}) }}">Clone</a>
                                {% if beam.deletable %}
                                    <a class="btn btn-small btn-danger" title="Delete beam {{ beam.name }}" data-cancel="Cancel" data-confirm="Delete" data-text='Are you sure to delete this beam "{{ beam.name }}" ?' href="{{ path('ww_beam_delete', {beamName: beam.name}) }}">Delete</a>
                                {% else %}
                                    <a class="btn btn-small btn-danger disabled" data-toggle="tooltip" title="Beam {{ beam.name }} is used in {% for project in beam.projects %}{{ project.name }}{% if not loop.last %}, {% endif %}{% endfor %}" href="#">Delete</a>
                                {% endif %}
                                <a class="btn btn-small btn-primary disabled">Export</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="info">
                            <td colspan="4"><em>No beam found. </em><a href="{{ path('ww_beam_create') }}">Create a new beam</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
