{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = 'schema' %}

{% block javascript %}
    <script>
      $(function () {
        $('ul.nav-tabs a:first').tab('show');
      })
    </script>
{% endblock %}

{% block content %}

    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a href="{{ path('ww_schema_update') }}" class="btn pum-scheme-btn-primary"><i class="pumicon pumicon-spinner-6"></i> Update</a>
        </div>
        {{ pum_macros.section_title('Schema', null, null, [
            {
                href: path('ww_homepage'),
                text: 'Woodwork'
            },
            {
                text: 'Project database schema'
            }
        ]) }}
    </div>

   <div class="row">
        <div class="col-lg-12 col-offset-auto">
            <ul class="nav nav-tabs">
                {% for project in pum.allProjects %}
                      <li><a href="#{{ project.lowercaseName }}" data-toggle="tab">{{ project.name }}</a></li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for project in pum.allProjects %}
                    <div class="tab-pane{% if loop.first %} active{% endif %}" id="{{ project.lowercaseName }}">
                        <pre>{{ project.contextMessages }}</pre>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
