{% extends "PumWoodworkBundle:User:layout.html.twig" %}

{% set sidebar_active = "group_list" %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a href="{{ path('ww_group_create') }}" class="btn pum-scheme-btn-darkgrass"><i class="pumicon pumicon-plus2"></i>{{ 'ww.users.groups.top_btn_group_create'|trans({}, 'pum') }}</a>
        </div>
        {{ pum_macros.section_title('ww.users.groups.title'|trans({}, 'pum'), null, null, [
            {
                href: path('ww_homepage'),
                text: 'common.woodwork.breadcrumb'|trans({}, 'pum')
            },
            {
                text: 'ww.users.groups.description'|trans({}, 'pum')
            }
        ]) }}
    </div>

    {{ pum_macros.alertMessages() }}

    <div class="row">
        <div class="col-lg-12 col-offset-auto">
            <table class="table table-bordered table-striped table-hover">
                <colgroup>
                    <col width="3%" />
                    <col width="3%" />
                </colgroup>
                <thead>
                    <tr class="table-head-bordered">
                        <th class="text-center is_checkable"><input type="checkbox" name="all_groups" /></th>
                        <th class="text-right">{{ 'ww.users.groups.table_th_id'|trans({}, 'pum') }}</th>
                        <th class="pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                {# Name #}
                                {{ 'ww.users.groups.table_th_name'|trans({}, 'pum') }}
                             </div>
                        </th>
                        <th class="pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                <i class="pumicon pumicon-settings2 hidden-xs"></i>
                                {# Actions #}
                                {{ 'ww.users.groups.table_th_actions'|trans({}, 'pum') }}
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in pager %}
                        <tr>
                            <td class="text-center is_checkable"><input type="checkbox" name="project[{{ group.id }}]" value="1" /></td>
                            <td class="text-right">{{ group.id }}</td>
                            <td>
                                {{ group.name }}
                            </td>
                            <td>
                                <a class="btn btn-sm pum-scheme-btn-darkgrass" href="{{ path('ww_group_edit', {id: group.id}) }}">
                                    <i class="pumicon pumicon-pencil"></i>
                                    <span class="visible-lg-inline-block">
                                        {{ 'ww.users.groups.btn_group_edit'|trans({}, 'pum') }}
                                    </span>
                                </a>
                                <a class="btn btn-sm btn-danger" data-cancel="{{ 'ww.users.groups.modal_group_delete_btn_cancel'|trans({}, 'pum') }}" data-confirm="{{ 'ww.users.groups.modal_group_delete_btn_confirm'|trans({}, 'pum') }}" data-text="{{ 'ww.users.groups.modal_group_delete_title'|trans({}, 'pum') }}" data-content="{{ 'ww.users.groups.modal_group_delete_content'|trans({ '%name%':group.name }, 'pum') }}" href="{{ path('ww_group_delete', {id: group.id }) }}">
                                    <i class="pumicon pumicon-remove2"></i>
                                    {{ 'ww.users.groups.btn_group_delete'|trans({}, 'pum') }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {# Pages #}
            {{ pum_macros.pager(pager) }}
        </div>
    </div>
{% endblock %}
