{% extends "PumWoodworkBundle:User:layout.html.twig" %}

{% set sidebar_active = "usergroup_list" %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a href="{{ path('ww_usergroup_list') }}" class="btn">{{ 'ww.users.groups.permissions.btn_back'|trans({}, 'pum') }}</a>
        </div>
        {{ pum_macros.section_title(group.name ~ ' - ' ~ 'ww.users.groups.permissions.title'|trans({}, 'pum'), null, null, [
            {
                href: path('ww_homepage'),
                text: 'common.woodwork.breadcrumb'|trans({}, 'pum')
            },
            {
                href: path('ww_usergroup_list'),
                text: 'ww.users.usergroups.description'|trans({}, 'pum')
            },
            {
                text: 'ww.users.groups.permissions.manage.breadcrumb'|trans({}, 'pum')
            }
        ]) }}
    </div>

    {{ pum_macros.alertMessages() }}

    <div class="row">
        <div class="col-lg-12 col-offset-auto">
            {# The global form #}
            <form action="#" name="pum_permissions" method="post" class="form-horizontal">

                {# Wrapper for all projects #}
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {# ========= #}
                    {# Project 1 #}
                    {# ========= #}
                    {% for project in schema %}
                        <div class="panel panel-nested pum-scheme-panel-pomegranate">
                        {# ======================== #}
                        {# First level visible part #}
                        {# ======================== #}
                            <div class="panel-heading" role="tab" id="project_{{ project.id }}">
                                <div class="row">
                                    <h4 class="panel-title col-xs-6">
                                        {# Link used for toggling the project accordion to show Beams #}
                                        <a data-toggle="collapse" data-parent="#accordion" href="#project_{{ project.id }}_collapse" aria-expanded="false" aria-controls="project_{{ project.id }}_collapse">
                                            <span class="project-title">{{ project.name|humanize }}</span>
                                            <span class="project-beams-number">- {{ project.beams|length }} beams</span>
                                        </a>
                                    </h4>

                                    {# Permissions checkboxes => display only if the input #project_{{ project.id }}_permission_activation is checked #}
                                    {% if project.hasPermissions is not null %}
                                        {% set project_class = 'show-permissions' %}
                                    {% else %}
                                        {% set project_class = '' %}
                                    {% endif %}

                                    <span class="project-global-permissions col-xs-5 {{ project_class }}">
                                        <div class="row">
                                            <div class="col-xs-2 text-center">
                                                <input type="checkbox" id="project_{{ project.id }}_permission_create" name="permission[{{ project.id }}][attribute][PUM_OBJ_CREATE]" {{ project.attribute.PUM_OBJ_CREATE }} value="1" />
                                                <label class="container" for="project_{{ project.id }}_permission_create">{{ 'ww.permission.create'|trans({}, 'pum') }}</label>
                                            </div>

                                            <div class="col-xs-2 text-center">
                                                <input type="checkbox" id="project_{{ project.id }}_permission_see" name="permission[{{ project.id }}][attribute][PUM_OBJ_VIEW]" {{ project.attribute.PUM_OBJ_VIEW }} value="1" />
                                                <label class="container" for="project_{{ project.id }}_permission_see">{{ 'ww.permission.view'|trans({}, 'pum') }}</label>
                                            </div>

                                            <div class="col-xs-2 text-center">
                                                <input type="checkbox" id="project_{{ project.id }}_permission_edit" name="permission[{{ project.id }}][attribute][PUM_OBJ_EDIT]" {{ project.attribute.PUM_OBJ_EDIT }} value="1" />
                                                <label class="container" for="project_{{ project.id }}_permission_edit">{{ 'ww.permission.edit'|trans({}, 'pum') }}</label>
                                            </div>

                                            <div class="col-xs-2 text-center">
                                                <input type="checkbox" id="project_{{ project.id }}_permission_del" name="permission[{{ project.id }}][attribute][PUM_OBJ_DELETE]" {{ project.attribute.PUM_OBJ_DELETE }} value="1" />
                                                <label class="container" for="project_{{ project.id }}_permission_del">{{ 'ww.permission.delete'|trans({}, 'pum') }}</label>
                                            </div>

                                            <div class="col-xs-2 text-center">
                                                <input type="checkbox" id="project_{{ project.id }}_permission_all" name="permission[{{ project.id }}][attribute][PUM_OBJ_MASTER]" {{ project.attribute.PUM_OBJ_MASTER }} value="1" />
                                                <label class="container" for="project_{{ project.id }}_permission_all">{{ 'ww.permission.all'|trans({}, 'pum') }}</label>
                                            </div>
                                        </div>
                                    </span>

                                    {# Switch to activate or deactivate the permissions for the entire project #}
                                    <span class="project-global-activation col-xs-1">
                                        <input type="hidden" value="1" name="permission[{{ project.id }}][existed]" />
                                        <input type="checkbox" id="project_{{ project.id }}_permission_activation" name="permission[{{ project.id }}][activation]" {{ project.hasPermissions }} value="1" />
                                        <label class="container" for="project_{{ project.id }}_permission_activation"></label>
                                    </span>
                                </div>
                            </div>
                            {# ================================= #}
                            {# First level Hidden/collapsed part #}
                            {# ================================= #}
                            <div id="project_{{ project.id }}_collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="project_{{ project.id }}">
                                <div class="panel-body">
                                    <div class="row">
                                        {# ---------------------------- #}
                                        {# Beam 1 - Project 1 (level 2) #}
                                        {# ---------------------------- #}
                                        {% for beam in project.beams %}
                                            <div class="panel panel-nested pum-scheme-panel-belizehole">
                                                {# ------------------------- #}
                                                {# Second level visible part #}
                                                {# ------------------------- #}
                                                <div class="panel-heading" role="tab" id="project_{{ project.id }}_beam_{{ beam.id }}">
                                                    <div class="row">
                                                        <h4 class="panel-title col-xs-6">
                                                            {# Used for toggling the Beam Accordion#}
                                                            <a data-toggle="collapse" href="#project_{{ project.id }}_beam_{{ beam.id }}_collapse" aria-expanded="false" aria-controls="project_{{ project.id }}_beam_{{ beam.id }}_collapse">
                                                                {# Beam Icon #}
                                                                <i class="pumicon pumicon-pencil2"></i>
                                                                <span class="beam-title">{{ beam.name|humanize }}</span>
                                                                <span class="beam-objects-number">- {{ beam.objects|length }} objects</span>
                                                            </a>
                                                        </h4>

                                                        <span class="project-beam-global-permissions col-xs-5">
                                                            <div class="row">
                                                                <div class="col-xs-2 text-center">
                                                                    <input type="checkbox" id="project_{{ project.id }}_beam_{{ beam.id }}_permission_create" name="permission[{{ project.id }}][beams][{{ beam.id }}][attribute][PUM_OBJ_CREATE]" {{ beam.attribute.PUM_OBJ_CREATE }} value="1" />
                                                                    <label class="control-label sr-only" for="project_{{ project.id }}_beam_{{ beam.id }}_permission_create"><span class="sr-only">{{ 'ww.permission.create'|trans({}, 'pum') }}</span></label>
                                                                </div>

                                                                <div class="col-xs-2 text-center">
                                                                    <input type="checkbox" id="project_{{ project.id }}_beam_{{ beam.id }}_permission_see" name="permission[{{ project.id }}][beams][{{ beam.id }}][attribute][PUM_OBJ_VIEW]" {{ beam.attribute.PUM_OBJ_VIEW }} value="1" />
                                                                    <label class="control-label sr-only" for="project_{{ project.id }}_beam_{{ beam.id }}_permission_see"><span class="sr-only">{{ 'ww.permission.view'|trans({}, 'pum') }}</span></label>
                                                                </div>

                                                                <div class="col-xs-2 text-center">
                                                                    <input type="checkbox" id="project_{{ project.id }}_beam_{{ beam.id }}_permission_edit" name="permission[{{ project.id }}][beams][{{ beam.id }}][attribute][PUM_OBJ_EDIT]" {{ beam.attribute.PUM_OBJ_EDIT }} value="1" />
                                                                    <label class="control-label sr-only" for="project_{{ project.id }}_beam_{{ beam.id }}_permission_edit"><span class="sr-only">{{ 'ww.permission.edit'|trans({}, 'pum') }}</span></label>
                                                                </div>

                                                                <div class="col-xs-2 text-center">
                                                                    <input type="checkbox" id="project_{{ project.id }}_beam_{{ beam.id }}_permission_del" name="permission[{{ project.id }}][beams][{{ beam.id }}][attribute][PUM_OBJ_DELETE]" {{ beam.attribute.PUM_OBJ_DELETE }} value="1" />
                                                                    <label class="control-label sr-only" for="project_{{ project.id }}_beam_{{ beam.id }}_permission_del"><span class="sr-only">{{ 'ww.permission.delete'|trans({}, 'pum') }}</span></label>
                                                                </div>

                                                                <div class="col-xs-2 text-center">
                                                                    <input type="checkbox" id="project_{{ project.id }}_beam_{{ beam.id }}_permission_all" name="permission[{{ project.id }}][beams][{{ beam.id }}][attribute][PUM_OBJ_MASTER]" {{ beam.attribute.PUM_OBJ_MASTER }} value="1" />
                                                                    <label class="control-label sr-only" for="project_{{ project.id }}_beam_{{ beam.id }}_permission_all"><span class="sr-only">{{ 'ww.permission.all'|trans({}, 'pum') }}</span></label>
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                                {# ---------------------------------- #}
                                                {# Second level Hidden/collapsed part #}
                                                {# ---------------------------------- #}
                                                <div id="project_{{ project.id }}_beam_{{ beam.id }}_collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="project_{{ project.id }}_beam_{{ beam.id }}">
                                                    {# ****************** #}
                                                    {# Object 1 (level 3) #}
                                                    {# ****************** #}
                                                    {% for object in beam.objects %}
                                                        <div id="project_{{ project.id }}_beam_{{ beam.id }}_object_{{ object.id }}" class="container beam-object">
                                                            {# Object Title #}
                                                            <span class="object-name col-xs-6">{{ object.name|humanize }}
                                                                {% if object.subPermissions > 0 %}
                                                                    <small>{{ 'ww.permission.object.subpermissions'|transchoice(object.subPermissions, {}, 'pum') }}</small>
                                                                {% endif %}
                                                            </span>
                                                            {# Object permissions #}
                                                            <span class="project-beam-object-permissions col-xs-5">
                                                                <div class="row">
                                                                    <div class="col-xs-2 text-center">
                                                                        <input type="checkbox" id="project_{{ project.id }}_beam_{{ beam.id }}_object_{{ object.id }}_permission_create" name="permission[{{ project.id }}][beams][{{ beam.id }}][objects][{{ object.id }}][attribute][PUM_OBJ_CREATE]" {{ object.attribute.PUM_OBJ_CREATE }} value="1" />
                                                                        <label class="control-label" for="project_{{ project.id }}_beam_{{ beam.id }}_object_{{ object.id }}_permission_create"><span class="sr-only">{{ 'ww.permission.create'|trans({}, 'pum') }}</span></label>
                                                                    </div>

                                                                    <div class="col-xs-2 text-center">
                                                                        <input type="checkbox" id="project_{{ project.id }}_beam_{{ beam.id }}_object_{{ object.id }}_permission_see" name="permission[{{ project.id }}][beams][{{ beam.id }}][objects][{{ object.id }}][attribute][PUM_OBJ_VIEW]" {{ object.attribute.PUM_OBJ_VIEW }} value="1" />
                                                                        <label class="control-label" for="project_{{ project.id }}_beam_{{ beam.id }}_object_{{ object.id }}_permission_see"><span class="sr-only">{{ 'ww.permission.view'|trans({}, 'pum') }}</span></label>
                                                                    </div>

                                                                    <div class="col-xs-2 text-center">
                                                                        <input type="checkbox" id="project_{{ project.id }}_beam_{{ beam.id }}_object_{{ object.id }}_permission_edit" name="permission[{{ project.id }}][beams][{{ beam.id }}][objects][{{ object.id }}][attribute][PUM_OBJ_EDIT]" {{ object.attribute.PUM_OBJ_EDIT }} value="1" />
                                                                        <label class="control-label" for="project_{{ project.id }}_beam_{{ beam.id }}_object_{{ object.id }}_permission_edit"><span class="sr-only">{{ 'ww.permission.edit'|trans({}, 'pum') }}</span></label>
                                                                    </div>

                                                                    <div class="col-xs-2 text-center">
                                                                        <input type="checkbox" id="project_{{ project.id }}_beam_{{ beam.id }}_object_{{ object.id }}_permission_del" name="permission[{{ project.id }}][beams][{{ beam.id }}][objects][{{ object.id }}][attribute][PUM_OBJ_DELETE]" {{ object.attribute.PUM_OBJ_DELETE }} value="1" />
                                                                        <label class="control-label" for="project_{{ project.id }}_beam_{{ beam.id }}_object_{{ object.id }}_permission_del"><span class="sr-only">{{ 'ww.permission.delete'|trans({}, 'pum') }}</span></label>
                                                                    </div>

                                                                    <div class="col-xs-2 text-center">
                                                                        <input type="checkbox" id="project_{{ project.id }}_beam_{{ beam.id }}_object_{{ object.id }}_permission_all" name="permission[{{ project.id }}][beams][{{ beam.id }}][objects][{{ object.id }}][attribute][PUM_OBJ_MASTER]" {{ object.attribute.PUM_OBJ_MASTER }} value="1" />
                                                                        <label class="control-label" for="project_{{ project.id }}_beam_{{ beam.id }}_object_{{ object.id }}_permission_all"><span class="sr-only">{{ 'ww.permission.all'|trans({}, 'pum') }}</span></label>
                                                                    </div>
                                                                </div>
                                                            </span>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="text-center">
                    <button type="submit" id="pum_usergroup_permission_save" name="pum_usergroup_permission[save]" class="btn pum-scheme-btn-darkgrass">Enregistrer</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {% javascripts
    "bundles/pumapp/js/pum.permissions-form.js"
    %}
    <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}

{% endblock %}
