{% extends "PumWoodworkBundle:User:layout.html.twig" %}

{% set sidebar_active = "usergroup_list" %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a href="{{ path('ww_usergroup_list') }}" class="btn">{{ 'ww.users.groups.permissions.btn_back'|trans({}, 'pum') }}</a>
        </div>
        {{ pum_macros.section_title(group.name ~ ' - ' ~ 'ww.users.groups.permissions.title'|trans({}, 'pum'), null, null, [
            {
                href: path('ww_homepage'),
                text: 'common.woodwork.breadcrumb'|trans({}, 'pum')
            },
            {
                href: path('ww_usergroup_list'),
                text: 'ww.users.usergroups.description'|trans({}, 'pum')
            },
            {
                text: 'ww.users.groups.permissions.manage.breadcrumb'|trans({}, 'pum')
            }
        ]) }}
    </div>

    {{ pum_macros.alertMessages() }}

    <div class="row">
        <div class="col-lg-12 col-offset-auto">
            <form action="#" name="pum_permissions_tableviews" method="post" class="form-horizontal">
                {# The global form #}
                {% for error in errors %}
                    {{ error }}
                {% endfor %}

                {% set tableViewsCount = schema|length %}
                {% if tableViewsCount == 0 %}
                    <span class="val-empty">{{ 'pa.customview.object.no.tableview'|trans({}, 'pum') }}</span>
                {% endif %}

                <div class="panel-heading" id="tableview">
                    <div class="row">
                        <h4 class="panel-title col-xs-6">
                             <span class="object-title">{{ object|pum_humanize_object_name }}</span>
                        </h4>

                        <span class="project-global-permissions col-xs-5 level">
                            <div class="row">
                                <div class="col-xs-2 text-center">
                                    <input type="checkbox" class="flat-custom pomegranate no-label large" id="tableview_view" data-type="see" name="tableview[attribute][view]" value="1">
                                    <label class="container" for="tableview_view"><span class="sr-only">Voir</span></label>
                                    <div class="custom-label">Voir</div>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>

                {% for _tableview in schema %}
                    <div id="tableview_{{ _tableview.id }}" class="container beam-object">
                        <span class="object-name col-xs-6">{{ _tableview.name|pum_humanize }}</span>
                        <span class="project-global-permissions col-xs-5 level">
                            <div class="row">
                                <div class="col-xs-2 text-center">
                                    <input type="checkbox" class="flat-custom no-label small" id="tableview_{{ _tableview.id }}_view" data-type="see" name="tableviews[{{ _tableview.id }}][attribute][view]" value="1" {% if _tableview.attribute.view == true %}checked="checked"{% endif %} />
                                    <label class="control-label" for="tableview_{{ _tableview.id }}_view"><span class="sr-only">{{ 'ww.permission.tableview.view'|trans({}, 'pum') }}</span></label>
                                </div>
                                <div class="col-xs-2 text-center">
                                    <input type="checkbox" class="flat-custom no-label small" id="tableview_{{ _tableview.id }}_default" data-type="see" name="tableviews[{{ _tableview.id }}][attribute][default]" value="1" {% if _tableview.attribute.default == true %}checked="checked"{% endif %} />
                                    <label class="control-label" for="tableview_{{ _tableview.id }}_default"><span class="sr-only">{{ 'ww.permission.tableview.default'|trans({}, 'pum') }}</span></label>
                                </div>
                            </div>
                        </span>
                    </div>
                {% endfor %}

                <div class="text-center">
                    <button type="submit" id="pum_usergroup_permission_tableview" name="pum_usergroup_permission_tableview[save]" class="btn pum-scheme-btn-darkgrass">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
