{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active ='projects' %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a class="btn btn-danger" data-toggle="tooltip" data-placement="left" title="Delete project {{ project.name }}" data-cancel="Cancel" data-confirm="Delete" data-text='Are you sure to delete this project "{{ project.name }}" ?' href="{{ path('ww_project_delete', {projectName: project.name}) }}">Delete this Project</a>
        </div>
        {{ pum_macros.section_title('Project', null, null, [
            {
                href: path('ww_homepage'),
                text: 'Woodwork'
            },
            {
                href: path('ww_project_list'),
                text: 'Projects'
            },
            {
                text: 'Editing the Project <strong>' ~ project.name|humanize|title ~ '</strong>'
            }
        ])}}
    </div>

    {{ pum_macros.alertMessages() }}

    <div class="row">
        <div class="col-lg-4 col-offset-auto">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
