{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active ='projects' %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a class="btn btn-danger" data-toggle="tooltip" title="Delete project {{ project.name }}" data-cancel="Cancel" data-confirm="Delete" data-text='Are you sure to delete this project "{{ project.name }}" ?' href="{{ path('ww_project_delete', {projectName: project.name}) }}">Delete this Project</a>
        </div>
        {{ pum_macros.section_title(project.name|title, 'Edit Project') }}
    </div>

    {{ form(form) }}
{% endblock %}
