{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = "projects" %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a href="{{ path('ww_project_create') }}" class="btn pum-scheme-btn-darkgrass">
                <i class="pumicon pumicon-plus2"></i>{{ 'ww.projects.top_btn_project_create'|trans({}, 'pum') }}
            </a>
        </div>
        {{ pum_macros.section_title('ww.projects.title'|trans({}, 'pum'), null, null, [
            {
                href: path('ww_homepage'),
                text: 'common.woodwork.breadcrumb'|trans({}, 'pum')
            },
            {
                text: 'ww.projects.description'|trans({}, 'pum')
            }
        ]) }}
    </div>


    <div class="row">
        <div class="col-lg-12 col-offset-auto">
            {{ pum_macros.alertMessages() }}
            <table class="table table-bordered table-striped table-hover">
                {# <col width="3%" /> #}
                <col width="3%" />
                <thead>
                    <tr class="table-head-bordered">
                        {# <th class="text-center is_checkable"><input type="checkbox" name="all_projects" /></th> #}
                        <th class="text-right">#</th>
                        <th class="pum-scheme-cell-pomegranate pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                <i class="pumicon pumicon-briefcase hidden-xs"></i>
                                {# Name #}
                                {{ 'ww.projects.table_th_name'|trans({}, 'pum') }}
                            </div>
                        </th>
                        <th class="pum-scheme-cell-belizehole pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                <i class="pumicon pumicon-archive hidden-xs"></i>
                                {# Beams in project #}
                                {{ 'ww.projects.table_th_beams'|trans({}, 'pum') }}
                            </div>
                        </th>
                        <th class="pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                <i class="pumicon pumicon-settings2 hidden-xs"></i>
                                {# Actions #}
                                {{ 'ww.projects.table_th_actions'|trans({}, 'pum') }}
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            {# <td class="text-center is_checkable"><input type="checkbox" name="project[{{ project.id }}]" value="1" /></td> #}
                            <td class="text-right">{{ project.id }}</td>
                            <td class="pum-scheme-colored-pomegranate">
                                <big><strong>{{ project.name|pum_ucfirst }}</strong></big>
                            </td>
                            <td class="pum-scheme-colored-belizehole">
                                {% for beam in project.beams %}
                                    {{ (loop.first) ? '<ul class="list-unstyled list-spaced">' }}

                                    <li class="{{ (beam.color is not empty) ? 'pum-scheme-colored-' ~ beam.color }}">
                                        {% if beam.icon is not empty %}
                                            <i class="pumicon pumicon-{{ beam.icon }}"></i>
                                        {% endif %}
                                        {{ beam.aliasName|pum_ucfirst }}
                                    </li>

                                    {{ (loop.last) ? '</ul>' }}
                                {% endfor %}
                            </td>
                            <td>
                                {# Edit #}
                                <div class="btn-group">
                                    <a class="btn btn-sm pum-scheme-btn-darkgrass" href="{{ path('ww_project_edit', {projectName: project.name}) }}">
                                        <i class="pumicon pumicon-pencil"></i>
                                        <span class="visible-lg-inline-block">
                                            {{ 'ww.projects.btn_project_edit'|trans({}, 'pum') }}
                                        </span>
                                    </a>
                                    <button data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle" type="button">
                                        <i class="pumicon pumicon-cog"></i>
                                        <span class="visible-lg-inline-block">
                                            {# {{ 'ww.projects.btn_actions'|trans({}, 'pum') }} #}
                                        </span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul role="menu" class="dropdown-menu">
                                        <li>
                                            <a class="text-danger" data-cancel="{{ 'ww.projects.modal_project_btn_cancel'|trans({}, 'pum') }}" data-confirm="{{ 'ww.projects.modal_project_btn_confirm'|trans({}, 'pum') }}" data-text="{{ 'ww.projects.modal_project_delete_title'|trans({}, 'pum') }}" data-content='{{ 'ww.projects.modal_project_delete_content'|trans({ '%name%': project.name }, 'pum') }}' href="{{ path('ww_project_delete', {projectName: project.name}) }}">
                                                <i class="pumicon pumicon-remove2"></i>
                                                {{ 'ww.projects.btn_project_delete'|trans({}, 'pum') }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                {# <a class="btn btn-sm btn-warning disabled">Clone</a> #}
                                {# Delete #}
                                <div class="btn-group">
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="info">
                            <td colspan="2"><div class="alert"><em>{{ 'ww.projects.table_projects_null'|trans({ '%link%':'<a href="' ~ path('ww_project_create') ~ '">', '%/link%':'</a>' }, 'pum')|raw }}</em></div></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
