{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = "projects" %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a href="{{ path('ww_project_create') }}" class="btn pum-scheme-btn-darkgrass"><i class="pumicon pumicon-plus2"></i>Create a Project</a>
        </div>
        {{ pum_macros.section_title('Projects', null, null, [
            {
                href: path('ww_homepage'),
                text: 'Woodwork'
            },
            {
                href: path('ww_project_list'),
                text: 'Projects'
            },
            {
                text: 'Manage all your Projects'
            }
        ]) }}
    </div>


    <div class="row">
        <div class="col-lg-12 col-offset-auto">
            {{ pum_macros.alertMessages() }}
            <table class="table table-bordered table-striped table-hover">
                {# <col width="3%" /> #}
                <col width="3%" />
                <thead>
                    <tr>
                        {# <th class="text-center is_checkable"><input type="checkbox" name="all_projects" /></th> #}
                        <th class="text-right">#</th>
                        <th class="pum-scheme-cell-pomegranate pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                <i class="pumicon pumicon-briefcase hidden-xs"></i>
                                Name
                            </div>
                        </th>
                        <th class="pum-scheme-cell-belizehole pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                <i class="pumicon pumicon-archive hidden-xs"></i>
                                Beams in project
                            </div>
                        </th>
                        <th class="pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                <i class="pumicon pumicon-settings2 hidden-xs"></i>
                                Actions
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            {# <td class="text-center is_checkable"><input type="checkbox" name="project[{{ project.id }}]" value="1" /></td> #}
                            <td class="text-right">{{ project.id }}</td>
                            <td class="pum-scheme-colored-pomegranate">
                                <big><strong>{{ project.name|title }}</strong></big>
                            </td>
                            <td class="pum-scheme-colored-belizehole">
                                {% for beam in project.beams %}
                                    {{ (loop.first) ? '<ul class="list-unstyled list-spaced">' }}

                                    <li class="{{ (beam.color is not empty) ? 'pum-scheme-colored-' ~ beam.color }}">
                                        {% if beam.icon is not empty %}
                                            <i class="pumicon pumicon-{{ beam.icon }}"></i>
                                        {% endif %}
                                        {{ beam.name }}
                                    </li>

                                    {{ (loop.last) ? '</ul>' }}
                                {% endfor %}
                            </td>
                            <td>
                                <a class="btn btn-sm pum-scheme-btn-darkgrass" href="{{ path('ww_project_edit', {projectName: project.name}) }}">
                                    Edit
                                </a>
                                {# <a class="btn btn-sm btn-warning disabled">Clone</a> #}
                                <a class="btn btn-sm btn-danger" data-confirm="Delete" data-text="Delete Project" data-content='Are you sure you want to delete the project "{{ project.name }}" ?' href="{{ path('ww_project_delete', {projectName: project.name}) }}">
                                    Delete
                                </a>
                                <a class="btn btn-sm btn-warning" title="Manage SEO of {{ project.name }}" href="{{ path('ww_seo_list', {projectName: project.name}) }}">Seo</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="info">
                            <td colspan="2"><div class="alert"><em>No project found. <a href="{{ path('ww_project_create') }}">Create a new project</a></div></td>
                        </em>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
