{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = "projects" %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a href="{{ path('ww_project_create') }}" class="btn btn-primary"><i class="pumicon pumicon-plus-3"></i>Create a Project</a>
        </div>
        {{ pum_macros.section_title('Projects', 'Manage all your projects') }}
    </div>
    <div class="row">
        <div class="col-lg-12 col-offset-auto">
            <table class="table table-bordered table-striped table-hover">
                <col width="3%" />
                <col width="3%" />
                <thead>
                    <tr>
                        <th class="text-center"><input type="checkbox" name="all_projects" /></th>
                        <th class="text-right">#</th>
                        <th class="pum-scheme-cell-pomegranate pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                <i class="pumicon pumicon-briefcase"></i>
                                Name
                            </div>
                        </th>
                        <th class="pum-scheme-cell-belizehole pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                <i class="pumicon pumicon-archive"></i>
                                Beams in project
                            </div>
                        </th>
                        <th class="pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                <i class="pumicon pumicon-cogs-2"></i>
                                Actions
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <td class="text-center"><input type="checkbox" name="project[{{ project.id }}]" value="1" /></td>
                            <td class="text-right">{{ project.id }}</td>
                            <td class="pum-scheme-colored-pomegranate">
                                <strong>{{ project.name }}</strong>
                            </td>
                            <td class="pum-scheme-colored-belizehole">
                                {% for beam in project.beams %}
                                    {{ beam.name }}<br />
                                {% endfor %}
                            </td>
                            <td>
                                <a class="btn btn-small" data-toggle="tooltip" title="Edit project {{ project.name }}" href="{{ path('ww_project_edit', {projectName: project.name}) }}"><i class="icon-edit"></i> Edit</a>
                                <a class="btn btn-small btn-danger" data-toggle="tooltip" title="Delete project {{ project.name }}" data-cancel="Cancel" data-confirm="Delete" data-text="Delete Project" data-content='Are you sure you want to delete the project "{{ project.name }}" ?' href="{{ path('ww_project_delete', {projectName: project.name}) }}"><i class="icon-trash icon-white"></i> Delete</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="info">
                            <td colspan="2"><div class="alert"><em>No project found. <a href="{{ path('ww_project_create') }}">Create a new project</a></div></td>
                        </em>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
