<li class="dropdown{% if app.request.attributes.get('active') %} active{% endif %}">
    {% set projectName = pum_projectName() %}
    {% if projectName %}
        <a href="{{ path('pa_homepage') }}" class="dropdown-toggle" data-toggle="dropdown">
            <i class="pumicon pumicon-cms icon-medium"></i>&nbsp;&nbsp;{{ projectName }}
            <b class="caret"></b>
        </a>
    {% else %}
        <a href="{{ path('ww_homepage') }}" class="dropdown-toggle" data-toggle="dropdown">
            <i class="pumicon pumicon-cms icon-medium"></i>&nbsp;&nbsp;Projects Admin
            <b class="caret"></b>
        </a>
    {% endif %}
    <ul class="dropdown-menu dropdown-fullwidth dropdown-spaced">
        {% for project in projects if project.name != projectName %}
            <li>
                <a href="{{ path('pa_homepage', {_project: project.name}) }}">
                    {{ project.name|humanize }}
                </a>
            </li>
        {% endfor %}
    </ul>
</li>
