{% extends "PumAppBundle:Settings:layout.html.twig" %}

{% set sidebar_active ='console' %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('common.console.title'|trans({}, 'pum'), 'common.console.description'|trans({}, 'pum'), null, [
        {
        href: path('ww_homepage'),
        text: 'common.woodwork.breadcrumb'|trans({}, 'pum')
        },
        {
        text: 'common.config.breadcrumb'|trans({}, 'pum')
        }
        ]) }}
    </div>

    {{ pum_macros.alertMessages() }}

    <div class="row">
        <div class="col-lg-9 col-offset-auto">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="pull-right btn btn-xs btn-primary btn-loading" data-loading-text="{{ 'cache.clearing'|trans({}, 'pum') }}" href="{{ path('app_console_cache_clear') }}">
                        <i class="pumicon pumicon-arrow-right5"></i> {{ 'cache.clear'|trans({}, 'pum') }}
                    </a>
                    <h3 class="panel-title">Clear Cache</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <p>{{ 'cache.clear.description'|trans({}, 'pum') }}</p>
                    <p><code>php app/console cache:clear --env=prod --no-debug</code></p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="pull-right btn btn-xs btn-primary btn-loading" data-loading-text="{{ 'assets.installing'|trans({}, 'pum') }}" href="{{ path('app_console_assets_install') }}">
                        <i class="pumicon pumicon-arrow-right5"></i> {{ 'assets.install'|trans({}, 'pum') }}
                    </a>
                    <h3 class="panel-title">Assets Install</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <p>{{ 'assets.install.description'|trans({}, 'pum') }}</p>
                    <p><code>php app/console assets:install --env=prod --no-debug --symlink</code></p>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="pull-right btn btn-xs btn-primary btn-loading" data-loading-text="{{ 'assetic.dumping'|trans({}, 'pum') }}" href="{{ path('app_console_assetic_dump') }}">
                        <i class="pumicon pumicon-arrow-right5"></i> {{ 'assetic.dump'|trans({}, 'pum') }}
                    </a>
                    <h3 class="panel-title">Assetic Dump</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <p>{{ 'assetic.dump.description'|trans({}, 'pum') }}</p>
                    <p><code>php app/console assetic:dump --env=prod --no-debug</code></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {% javascripts
    "bundles/pumapp/js/pum.config-console.js"
    %}
    <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}

{% endblock %}
