{% extends app.request.xmlHttpRequest ? "PumAppBundle::base.ajax.html.twig" : "PumProjectAdminBundle::layout-beam.html.twig" %}

{% set menu_active  = beam.name %}
{% set object_name  = object_definition|pum_humanize_object_name %}
{% set beam_name    = beam|pum_humanize_beam_name %}
{% set project_name = pum_project()|pum_humanize_project_name %}

{% block content %}
    {# XHR MODE #}
    {% if app.request.xmlHttpRequest %}

         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div class="pum-row-head">
                <div class="pum-action-bar pull-right">
                        {% if object is not null %}
                            <a data-ya-href="{{ path('pa_object_edit', {beamName: beam.name, name: object_definition.name, id: object.id, view: form_view.name}) }}" class="btn btn-default yaah-js" data-target="#pumAjaxModal" data-ya-target="#pumAjaxModal .modal-content" data-ya-location="inner">{{ 'pa.formview.edit.top_btn_back'|trans({}, 'pum') }}</a>
                        {% else %}
                            <a data-ya-href="{{ path('pa_object_create', {beamName: beam.name, name: object_definition.name, view: form_view.name}) }}" class="btn btn-default yaah-js" data-target="#pumAjaxModal" data-ya-target="#pumAjaxModal .modal-content" data-ya-location="inner">{{ 'pa.formview.edit.top_btn_back'|trans({}, 'pum') }}</a>
                        {% endif %}
                    </div>
                {{ pum_macros.section_title('pa.formview.edit.title'|trans({}, 'pum'), null, null, [
                    {
                        href: path('pa_homepage'),
                        text: project_name
                    },
                    {
                        href: path('pa_beam_show', {beamName: beam.name}),
                        text: beam_name
                    },
                    {
                        href: path('pa_object_list', {beamName: beam.name, name: object_definition.name}),
                        text: object_name
                    },
                    {
                        text: 'pa.formview.edit.description'|trans({ '%name%':'<strong>' ~ form_view.name|pum_ucfirst ~ '</strong>' }, 'pum')
                    }
                ]) }}
            </div>
        </div>
        <div class="modal-body">
            {{ pum_macros.alertMessages() }}
            <div class="col-lg-12 col-offset-auto">
                {{ form(form) }}
            </div>
        </div>
    {% else %}
        <div class="pum-row-head">
            <div class="pum-action-bar pull-right">
                    {% if object is not null %}
                        <a href="{{ path('pa_object_edit', {beamName: beam.name, name: object_definition.name, id: object.id, view: form_view.name}) }}" class="btn btn-default">{{ 'pa.formview.edit.top_btn_back'|trans({}, 'pum') }}</a>
                    {% else %}
                        <a href="{{ path('pa_object_create', {beamName: beam.name, name: object_definition.name, view: form_view.name}) }}" class="btn btn-default">{{ 'pa.formview.edit.top_btn_back'|trans({}, 'pum') }}</a>
                    {% endif %}
                </div>
            {{ pum_macros.section_title('pa.formview.edit.title'|trans({}, 'pum'), null, null, [
                {
                    href: path('pa_homepage'),
                    text: project_name
                },
                {
                    href: path('pa_beam_show', {beamName: beam.name}),
                    text: beam_name
                },
                {
                    href: path('pa_object_list', {beamName: beam.name, name: object_definition.name}),
                    text: object_name
                },
                {
                    text: 'pa.formview.edit.description'|trans({ '%name%':'<strong>' ~ form_view.name|pum_ucfirst ~ '</strong>' }, 'pum')
                }
            ]) }}
        </div>
        {{ pum_macros.alertMessages() }}
        <div class="col-lg-12 col-offset-auto">
            {{ form(form) }}
        </div>
    {% endif %}
{% endblock %}
