{% block pum_price_widget %}
    <div class="input-group input-group-select">
        {{ form_widget(form.value, {attr: {class: 'col-lg-2'}}) }}
        <div class="input-group-addon">
            {{ form_widget(form.currency, {attr: {class: 'col-lg-2'}}) }}
        </div>
    </div>
{% endblock %}

{% block pum_coordinate_widget %}
    <input type="text" class="form-control" data-gmap_autocomplete="true" placeholder="Type an address or coordinates (latitude, longitude)" value="{{ form.vars.value.lat ~ ', ' ~ form.vars.value.lng }}" />
    {{ form_widget(form.latitude, {type: 'hidden', attr:{'data-gmap_target': 'latitude'}}) }}
    {{ form_widget(form.longitude, {type:'hidden', attr:{'data-gmap_target': 'longitude'}}) }}
{% endblock %}
