{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = "users" %}

{% block subsidebar %}
    <nav class="pum-subsidebar width navbar-collapse collapse">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-header">
                {# User management #}
                {{ 'ww.users.users.leftnav.title'|trans({}, 'pum') }}
            </li>
            <li{% if sidebar_active == 'user_list' %} class="active"{% endif %}>
                <a href="{{ path('ww_user_list') }}">
                    {# List of users #}
                    {{ 'ww.users.users.leftnav.link_users_list'|trans({}, 'pum') }}
                </a>
            </li>
            <li{% if sidebar_active == 'user_create' %} class="active"{% endif %}>
                <a href="{{ path('ww_user_create') }}">
                    {# Create a user #}
                    {{ 'ww.users.users.leftnav.link_users_create'|trans({}, 'pum') }}
                </a>
            </li>
            <li class="nav-header">
                {# Group management #}
                {{ 'ww.users.groups.leftnav.title'|trans({}, 'pum') }}
            </li>
            <li{% if sidebar_active == 'group_list' %} class="active"{% endif %}>
                <a href="{{ path('ww_group_list') }}">
                    {# List of groups #}
                    {{ 'ww.users.groups.leftnav.link_groups_list'|trans({}, 'pum') }}
                </a>
            </li>
            <li{% if sidebar_active == 'group_create' %} class="active"{% endif %}>
                <a href="{{ path('ww_group_create') }}">
                    {# Create a group #}
                    {{ 'ww.users.groups.leftnav.link_groups_create'|trans({}, 'pum') }}
                </a>
            </li>
            <li class="nav-header">
                {# Permission management #}
                {{ 'ww.users.groups.permissions.leftnav.title'|trans({}, 'pum') }}
            </li>
            <li{% if sidebar_active == 'permission_list' %} class="active"{% endif %}>
                <a href="{{ path('ww_permission_list') }}">
                    {# List of permissions #}
                    {{ 'ww.users.groups.permissions.leftnav.link_groups_list'|trans({}, 'pum') }}
                </a>
            </li>
            <li{% if sidebar_active == 'permission_create' %} class="active"{% endif %}>
                <a href="{{ path('ww_permission_create') }}">
                    {# Create a permission #}
                    {{ 'ww.users.groups.permissions.leftnav.link_groups_create'|trans({}, 'pum') }}
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
