{% extends "PumWoodworkBundle:User:layout.html.twig" %}

{% set sidebar_active = "user_list" %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a href="{{ path('ww_user_create') }}" class="btn pum-scheme-btn-darkgrass"><i class="pumicon pumicon-plus-3"></i>Create a User</a>
        </div>
        {{ pum_macros.section_title('Users', null, null, [
            {
                href: path('ww_homepage'),
                text: 'Woodwork'
            },
            {
                href: path('ww_user_list'),
                text: 'Users'
            },
            {
                text: 'Manage application Users'
            }
        ]) }}
    </div>
    <div class="row">
        <div class="col-lg-12 col-offset-auto">
            <table class="table table-bordered table-striped table-hover">
                <colgroup>
                    <col width="3%" />
                    <col width="3%" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center"><input type="checkbox" name="all_users"></th>
                        <th class="text-right">#</th>
                        <th class="pum-scheme-cell-carrot pum-schemed_cell">
                            Fullname
                        </th>
                        <th class="pum-scheme-cell-carrot pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                <i class="pumicon pumicon-users hidden-xs"></i>
                                Username
                             </div>
                        </th>
                        <th class="pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                <i class="pumicon pumicon-settings-2 hidden-xs"></i>
                                Actions
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in pager %}
                        <tr>
                            <td class="text-center"><input type="checkbox" name="project[{{ user.id }}]" value="1"></td>
                            <td class="text-right">{{ user.id }}</td>
                            <td class="pum-scheme-colored-carrot">
                                <strong>{{ user.fullname }}</strong>
                            </td>
                            <td class="pum-scheme-colored-carrot">
                                <code>{{ user.username }}</code>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-inverse" href="{{ path('ww_user_edit', {id: user.id}) }}"><i class="icon-edit"></i> Edit</a>
                                <a class="btn btn-sm btn-danger" data-confirm="Delete" data-text="Delete User" data-content="Are you sure you want to delete the user &quot;{{ user.fullname }}&quot; ?" href="{{ path('ww_user_delete', {id: user.id }) }}"><i class="icon-trash icon-white"></i> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {# Pages #}
            {{ pum_macros.pager(pager) }}
        </div>
    </div>
{% endblock %}
