{% extends "PumWoodworkBundle:User:layout.html.twig" %}

{% set sidebar_active = "user_list" %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a href="{{ path('ww_user_create') }}" class="btn pum-scheme-btn-darkgrass"><i class="pumicon pumicon-plus2"></i>{{ 'ww.users.users.top_btn_user_create'|trans({}, 'pum') }}</a>
        </div>
        {{ pum_macros.section_title('ww.users.users.title'|trans({}, 'pum'), null, null, [
            {
                href: path('ww_homepage'),
                text: 'common.woodwork.breadcrumb'|trans({}, 'pum')
            },
            {
                text: 'ww.users.users.description'|trans({}, 'pum')
            }
        ]) }}
    </div>

    {{ pum_macros.alertMessages() }}

    <div class="row">
        <div class="col-lg-12 col-offset-auto">
            <table class="table table-bordered table-striped table-hover">
                <colgroup>
                    {# <col width="3%" /> #}
                    <col width="3%" />
                </colgroup>
                <thead>
                    <tr class="table-head-bordered">
                        {# <th class="text-center is_checkable"><input type="checkbox" name="all_users" /></th> #}
                        <th class="text-right">{{ 'ww.users.users.table_th_id'|trans({}, 'pum') }}</th>
                        <th class="pum-scheme-cell-carrot pum-schemed_cell">
                            {# Fullname #}
                            {{ 'ww.users.users.table_th_fullname'|trans({}, 'pum') }}
                        </th>
                        <th class="pum-scheme-cell-carrot pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                <i class="pumicon pumicon-users hidden-xs"></i>
                                {# Username #}
                                {{ 'ww.users.users.table_th_username'|trans({}, 'pum') }}
                             </div>
                        </th>
                        <th class="pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                <i class="pumicon pumicon-settings2 hidden-xs"></i>
                                {# Actions #}
                                {{ 'ww.users.users.table_th_actions'|trans({}, 'pum') }}
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in pager %}
                        <tr>
                            {# <td class="text-center is_checkable"><input type="checkbox" name="project[{{ user.id }}]" value="1" /></td> #}
                            <td class="text-right">{{ user.id }}</td>
                            <td class="pum-scheme-colored-carrot">
                                <strong>{{ user.fullname|pum_ucfirst }}</strong>
                            </td>
                            <td class="pum-scheme-colored-carrot">
                                <code>{{ user.username }}</code>
                            </td>
                            <td>
                                <a class="btn btn-sm pum-scheme-btn-darkgrass" href="{{ path('ww_user_edit', {id: user.id}) }}">
                                    <i class="pumicon pumicon-pencil"></i>
                                    <span class="visible-lg-inline-block">
                                        {{ 'ww.users.users.btn_user_edit'|trans({}, 'pum') }}
                                    </span>
                                </a>
                                <a class="btn btn-sm btn-danger" data-cancel="{{ 'ww.users.users.modal_user_delete_btn_cancel'|trans({}, 'pum') }}" data-confirm="{{ 'ww.users.users.modal_user_delete_btn_confirm'|trans({}, 'pum') }}" data-text="{{ 'ww.users.users.modal_user_delete_title'|trans({}, 'pum') }}" data-content="{{ 'ww.users.users.modal_user_delete_content'|trans({ '%name%':user.fullname }, 'pum') }}" href="{{ path('ww_user_delete', {id: user.id }) }}">
                                    <i class="pumicon pumicon-remove2"></i>
                                    <span class="visible-lg-inline-block">
                                        {{ 'ww.users.users.btn_user_delete'|trans({}, 'pum') }}
                                    </span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {# Pages #}
            {{ pum_macros.pager(pager) }}
        </div>
    </div>
{% endblock %}
