{% extends "PumProjectAdminBundle::layout-customview.html.twig" %}

{% set sidebar_active = "customview_list" %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('pa.custom.view.list.title'|trans({}, 'pum_form'), 'pa.custom.view.list.description'|trans({}, 'pum_form'), null, [
            {
                href: path('pa_homepage'),
                text: pum_project().name|pum_ucfirst
            },
            {
                href: path('pa_custom_view_index'),
                text: 'pa.custom.view.breadcrumb'|trans({}, 'pum_form')
            }
        ]) }}
    </div>

    {{ pum_macros.alertMessages() }}

    <div class="row">
        <div class="col-lg-12 col-offset-auto">
            <table class="table table-bordered table-striped table-hover">
                <colgroup>
                    <col width="3%" />
                    <col width="3%" />
                </colgroup>
                <thead>
                    <tr class="table-head-bordered">
                        <th class="text-right">{{ 'pa.customview.user.table_th_id'|trans({}, 'pum') }}</th>
                        <th class="pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                {{ 'pa.customview.user.table_th_project'|trans({}, 'pum') }}
                             </div>
                        </th>
                        <th class="pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                {{ 'pa.customview.user.table_th_beam'|trans({}, 'pum') }}
                            </div>
                        </th>
                        <th class="pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                {{ 'pa.customview.user.table_th_object'|trans({}, 'pum') }}
                            </div>
                        </th>
                        <th class="pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                {{ 'pa.customview.user.table_th_tableview'|trans({}, 'pum') }}
                            </div>
                        </th>
                        <th class="pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                <i class="pumicon pumicon-settings2 hidden-xs"></i>
                                {# Actions #}
                                {{ 'pa.customview.user.table_th_actions'|trans({}, 'pum') }}
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for views in pager %}
                        <tr>
                            <td class="text-right">{{ views.id }}</td>
                            <td>
                                {{ views.project.name }}
                            </td>
                            <td>
                                {{ views.beam.name }}
                            </td>
                            <td>
                                {{ views.object.name }}
                            </td>
                            <td>
                                {{ views.tableview.name }}
                            </td>
                            <td>
                                <a class="btn btn-inverse btn-sm" href="{{ path('pa_object_list', {beamName: views.beam.name, name: views.object.name, view: views.tableview.name }) }}">
                                    <i class="icon-show"></i> {{ 'pa.customview.user.btn_show'|trans({}, 'pum') }}
                                </a>
                                <a class="btn btn-sm btn-danger" data-cancel="{{ 'pa.customview.user.modal_delete_btn_cancel'|trans({}, 'pum') }}" data-confirm="{{ 'pa.customview.user.modal_delete_btn_confirm'|trans({}, 'pum') }}" data-text="{{ 'pa.customview.user.modal_permission_delete_title'|trans({}, 'pum') }}" data-content="{{ 'pa.customview.user.modal_delete_content'|trans({}, 'pum') }}" href="{{ path('pa_custom_view_delete', {id: views.id }) }}">
                                    <i class="icon-trash icon-white"></i> {{ 'pa.customview.user.btn_delete'|trans({}, 'pum') }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {# Pages #}
            {{ pum_macros.pager(pager) }}
        </div>
    </div>
{% endblock %}
