{% block type_text_default %}
    {% if value is empty %}
        <span class="val-empty">vide</span>
    {% else %}
        {{ value }}
    {% endif %}
{% endblock %}

{% block type_date_default %}
    {% if value is empty %}
        <span class="val-empty">vide</span>
    {% else %}
        {{ value|localizeddate("long", "none") }}
    {% endif %}
{% endblock %}


{% block type_datetime_default %}
    {% if value is empty %}
        <span class="val-empty">vide</span>
    {% else %}
        {{ value|localizeddate("long", "short") }}
    {% endif %}
{% endblock %}


{% block type_boolean_default %}
    {% if value is null %}
        <span class="val-empty">vide</span>
    {% elseif value %}
        <i class="icon-span text-center pum-scheme-colored-darkgrass pumicon pumicon-checkmark-2"></i>
    {% else %}
        <i class="icon-span text-center pum-scheme-colored-sanguine pumicon pumicon-close"></i>
    {% endif %}
{% endblock %}

{% block type_choice_default %}
    {% if value is empty %}
        <span class="val-empty">vide</span>
    {% else %}
        {{ value }}
    {% endif %}
{% endblock %}

{% block type_integer_default %}
    {% if value is empty %}
        <span class="val-empty">vide</span>
    {% else %}
        {{ value }}
    {% endif %}
{% endblock %}

{% block type_decimal_default %}
    {% if value is empty %}
        <span class="val-empty">vide</span>
    {% else %}
        {{ value }}
    {% endif %}
{% endblock %}
