{% extends "PumProjectAdminBundle::layout-beam.html.twig" %}

{% block subsidebar '' %}

{% set block_content_pumcore_class = 'pum-core-jumbotron' %}

{% block content %}
    <div class="jumbotron jumbotron-hero jumbotron-fx-10 pum-scheme-jumbotron">
        <h1>
            <span><i class="pumicon pumicon-{{ beam.icon }}"></i></span>
            <span>{{ beam.aliasName|pum_ucfirst }}</span>
        </h1>
        <hr />

        {% for obj in beam.objectsOrderBy('name') %}
            {% if (is_granted('PUM_OBJ_VIEW', {project: pum_projectName(), beam: beam.name, object: obj.name})) %}
                {{ (loop.first) ? '<ul class="list-inline">' }}

                {% set first_letter = obj.aliasName[:1] %}

                {% if (last_first_letter|default(null) != first_letter) %}
                    {% set last_first_letter = first_letter %}
                    {% if loop.first != true %}
                        </ul></li>
                    {% endif %}
                    <li class="list-divider"><ul class="list-inline">
                {% endif %}
                <li>
                    <a href="{{ path('pa_object_list', {beamName: beam.name, name: obj.name}) }}" data-hover="{{ obj.aliasName|humanize }}">
                        <span data-hover="{{ obj.aliasName|humanize }}">{{ obj.aliasName|humanize }}</span>
                    </a>
                </li>

                {{ (loop.last) ? '</ul>' }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
