{% extends "PumProjectAdminBundle::layout-beam.html.twig" %}

{% block subsidebar '' %}

{% block content %}
    <div class="jumbotron pum-scheme-jumbotron">
        <h1 class="pum-scheme-text_colored">
            <span class="pum-scheme-text_colored-muted"><i class="pumicon pumicon-{{ beam.icon }}"></i></span>
            <span class="pum-scheme-text_shadow">{{ beam.name|pum_ucfirst }}</span>
        </h1>
        <hr />
        <p>
            {% for object in beam.objects %}
                {{ (loop.first) ? '<ul class="list-inline">' }}
                <li{{ (object.name == object_definition.name|default(null)) ? ' class="active"' }}>
                    <a href="{{ path('pa_object_list', {beamName: beam.name, name: object.name}) }}" class="btn btn-lg pum-scheme-btn-transparentlight">
                        {{ object.name|humanize }}
                    </a>
                </li>
                {{ (loop.last) ? '</ul>' }}
            {% endfor %}
        </p>
    </div>
{% endblock %}
