{% extends "PumProjectAdminBundle::layout-beam.html.twig" %}

{% set menu_active  = beam.name %}
{% set object_name  = object_definition|pum_humanize_object_name %}
{% set beam_name    = beam|pum_humanize_beam_name %}
{% set project_name = pum_project()|pum_humanize_project_name %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a class="btn btn-danger" data-cancel="{{ 'pa.tableview.edit.modal_delete_tableview_btn_cancel'|trans({}, 'pum') }}" data-confirm="{{ 'pa.tableview.edit.modal_delete_tableview_btn_confirm'|trans({}, 'pum') }}" data-text='{{ 'pa.tableview.edit.modal_delete_tableview_title'|trans({}, 'pum') }}' href="{{ path('pa_tableview_delete', {beamName: beam.name, name: object_definition.name, tableViewName: table_view.name}) }}">{{ 'pa.tableview.edit.top_btn_delete'|trans({}, 'pum') }}</a>
        </div>
        <div class="pum-action-bar pull-right">
            <a href="{{ path('pa_object_list', {beamName: beam.name, name: object_definition.name, view: table_view.name}) }}" class="btn btn-default">{{ 'pa.tableview.edit.top_btn_back'|trans({}, 'pum') }}</a>
        </div>
        {{ pum_macros.section_title('pa.tableview.edit.title'|trans({}, 'pum'), null, 'pa.tableview.edit.subtitle'|trans({'%name%':object_name}, 'pum'), [
            {
                href: path('pa_homepage'),
                text: project_name
            },
            {
                href: path('pa_beam_show', {beamName: beam.name}),
                text: beam_name
            },
            {
                href: path('pa_object_list', {beamName: beam.name, name: object_definition.name}),
                text: object_name
            },
            {
                text: 'pa.tableview.edit.description'|trans({'%name%':table_view.name|pum_ucfirst}, 'pum')
            }
        ]) }}
    </div>

    {{ pum_macros.alertMessages() }}

    <div class="col-lg-12 col-offset-auto">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#pum_config_tabs_columns">{{ 'pa.tableview.edit.overall.tab'|trans({}, 'pum') }}</a>
             </li>
             <li>
                <a href="{{ path('pa_tableview_edit', {beamName: beam.name, name: object_definition.name, tableViewName: table_view.name, type: 'sort'}) }}">{{ 'pa.tableview.edit.defaultsort.tab'|trans({}, 'pum') }}</a>
            </li>
            <li>
                <a href="{{ path('pa_tableview_edit', {beamName: beam.name, name: object_definition.name, tableViewName: table_view.name, type: 'filters'}) }}">{{ 'pa.tableview.edit.filters.tab'|trans({}, 'pum') }}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="pum_config_tabs_columns" class="tab-pane active">
               {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
