{% extends "PumAppBundle:Settings:layout.html.twig" %}

{% set sidebar_active ='settings' %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a class="btn btn-primary btn-sm" href="{{ path('app_config_edit') }}"><i class="pumicon pumicon-pencil"></i> {{ 'common.config.top_btn_edit_settings'|trans({}, 'pum') }}</a>
        </div>
        {{ pum_macros.section_title('common.config.title'|trans({}, 'pum'), 'common.config.description'|trans({}, 'pum'), null, [
            {
                href: path('ww_homepage'),
                text: 'common.woodwork.breadcrumb'|trans({}, 'pum')
            },
            {
                text: 'common.config.breadcrumb'|trans({}, 'pum')
            }
        ]) }}
    </div>
    <div class="row">
        <div class="col-lg-6 col-offset-auto">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'common.config.table_th_key'|trans({}, 'pum') }}</th>
                        <th>{{ 'common.config.table_th_value'|trans({}, 'pum') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key,value in config %}
                        <tr>
                            <td>{{ key }}</td>
                            {% if value is iterable %}
                                <td>
                                    {% for v in value %}
                                        {% if (loop.last) %}
                                            {{ v }}
                                        {% else %}
                                            {{ v }} -
                                         {% endif %}
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td>{{ value }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

