{# RELATION #}
{% set title = ['item', 'items'] %}
{% set limit = 5 %}

{% if value is iterable %}
    {% if value|length >= limit %}
        <div id="{{ identifier }}" class="pum-simple_expand">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#{{ identifier }}" href="#expand_{{ identifier }}">
                {{ value|length }}
                {% if value|length < 2 %}
                    {{ title.0 }}
                {% else %}
                    {{ title.1 }}
                {% endif %}
            </a>
            <div class="accordion-body collapse collapsed-maxheight" id="expand_{{ identifier }}">
                <ul class="list-unstyled list-spaced">
                    {% for item in value %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <ul class="list-unstyled list-spaced">
            {% for item in value %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% else %}
{#% if value is iterable %}
    {% for sub in value %}
        {{ sub }}{% if not loop.last %},{% endif %}
    {% endfor %}
{% else %#}
    {{ value }}
{% endif %}
