{# RELATION #}
{% set title = ['item', 'items'] %}
{% set limit = 5 %}

{% if value is iterable %}
    {% if value|length >= limit %}
        <div id="{{ 'rels-' ~ identifier ~ '-' ~ entityID }}" class="pum-simple_expand">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#{{ 'rels-' ~ identifier ~ '-' ~ entityID }}" href="#expand_{{ 'rels-' ~ identifier ~ '-' ~ entityID }}">
                {{ value|length }}
                {% if value|length < 2 %}
                    {{ title.0 }}
                {% else %}
                    {{ title.1 }}
                {% endif %}
            </a>
            <div class="accordion-body collapse collapsed-maxheight" id="expand_{{ 'rels-' ~ identifier ~ '-' ~ entityID }}">
                <ul class="list-unstyled list-spaced">
                    {% for item in value %}
                        <li>
                            {% if linkparams != null %}
                                <a href="{{ path('pa_object_view', {beamName: linkparams.beam, name: linkparams.object, id: item.id}) }}">
                            {% endif %}
                                {% if item is empty or (item.name is defined and item.name is empty) %}
                                    {{ identifier|pum_humanize ~ ' #' ~ item.id }}
                                {% else %}
                                    {{ item }}
                                {% endif %}
                            {% if linkparams != null %}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <ul class="list-unstyled list-spaced">
            {% if value|length == 0 %}
                <span class="val-empty">{{ "common.generic.empty"|trans({}, 'pum') }}</span>
            {% else %}
                {% for item in value %}
                    <li>
                        {% if linkparams != null %}
                            <a href="{{ path('pa_object_view', {beamName: linkparams.beam, name: linkparams.object, id: item.id}) }}">
                        {% endif %}
                            {% if item is empty or (item.name is defined and item.name is empty) %}
                                {{ identifier|pum_humanize ~ ' #' ~ item.id }}
                            {% else %}
                                {{ item }}
                            {% endif %}
                        {% if linkparams != null %}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    {% endif %}
{% elseif value is not null %}
{#% if value is iterable %}
    {% for sub in value %}
        {{ sub }}{% if not loop.last %},{% endif %}
    {% endfor %}
{% else %#}
    {% if linkparams != null %}
        <a href="{{ path('pa_object_view', {beamName: linkparams.beam, name: linkparams.object, id: value.id}) }}">
    {% endif %}
        {{ value }}
    {% if linkparams != null %}
        </a>
    {% endif %}
{% else %}
    <span class="val-empty">{{ "common.generic.empty"|trans({}, 'pum') }}</span>
{% endif %}
