{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = "beams" %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('ww_homepage') }}">Homepage</a> <span class="divider">/</span></li>
        <li><a href="{{ path('ww_beam_list') }}">Beams</a> <span class="divider">/</span></li>
        <li><a href="{{ path('ww_beam_edit', {beamName: beam.name}) }}">{{ beam.name }}</a> <span class="divider">/</span></li>
        <li class="active">Edit {{ object.name }}</li>
    </ul>
    <h2>
        Edit object "{{ object.name }}"
    </h2>
    {{form(form)}}
{% endblock %}
