{% extends "PumWoodworkBundle::layout.html.twig" %}

{% block content %}
<h2>View Fields of Object {{ objectName }}</h2>
<p>Object {{ objectName }} from Beam {{ beam.name }}</p>
<p><a href="{{ path('ww_object_definition_list', {beamName: beam.name}) }}">Back to definitions of Beam {{ beam.name }}</a></p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        {% for field in fields %}
            <tr>
                <td>{{ field.name }}</td>
                <td>{{ field.type }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
