{% extends "PumWoodworkBundle::layout.html.twig" %}

{% block content %}

    <div class="pum-row-head">
        {{ pum_macros.section_title('Dashboard', 'Watch everything') }}
    </div>

    <div class="row">
        <div class="col-lg-2">
            <a href="{{ path('ww_project_list') }}" class="pum-dash_widget pum-scheme-dash_widget-pomegranate">
                <h3>Projects</h3>
                <i class="pumicon pumicon-briefcase"></i>
                <big>{{ projects|length }}</big>
            </a>
        </div>
        <div class="col-lg-2">
            <a href="{{ path('ww_beam_list') }}" class="pum-dash_widget pum-scheme-dash_widget-belizehole">
                <h3>Beams</h3>
                <i class="pumicon pumicon-archive"></i>
                <big>{{ beams|length }}</big>
            </a>
        </div>
    </div>
{% endblock %}
