{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = 'beams' %}

{% block subsidebar %}
    <nav class="pum-subsidebar hidden-xs">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-header">
                {{ 'ww.beams.edit.leftnav.title'|trans({}, 'pum') }}
            </li>
            <li>
                <a href="{{ path('ww_object_definition_create', {beamName: beam.name}) }}">
                    {% if beam.objects|length > 0 %}
                        <span class="badge pull-right">{{ beam.objects|length }}</span>
                    {% endif %}
                    {{ 'ww.beams.edit.leftnav.link_object_create'|trans({}, 'pum') }}
                </a>
            </li>
            <li>
                <a href="{{ path('ww_object_definition_import', {beamName: beam.name}) }}">
                    {{ 'ww.beams.edit.leftnav.link_object_import'|trans({}, 'pum') }}
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="pum-row-head">
        {{ pum_macros.section_title('ww.beams.edit.title'|trans({}, 'pum'), 'ww.beams.edit.description'|trans({ '%name%':'<strong>' ~ beam.name|pum_ucfirst ~ '</strong>' }, 'pum'), null, [
            {
                href: path('ww_homepage'),
                text: 'common.woodwork.breadcrumb'|trans({}, 'pum')
            },
            {
                href: path('ww_beam_list'),
                text: 'ww.beams.breadcrumb'|trans({}, 'pum')
            },
            {
                text: 'ww.beams.edit.description'|trans({ '%name%':'<strong>' ~ beam.name|pum_ucfirst ~ '</strong>' }, 'pum')
            }
        ]) }}
    </div>

    <div class="row">
        <div class="col-lg-12 col-offset-auto">

            <ul class="nav nav-tabs">
                <li>
                    <a href="{{ path('ww_beam_edit', {beamName: beam.name}) }}">
                        {# Object Definitions #}
                        {{ 'ww.beams.edit.objectdefinitions.tab'|trans({}, 'pum') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('ww_beam_edit', {beamName: beam.name, type: 'metas'}) }}">
                        {# Properties #}
                        {{ 'ww.beams.edit.properties.tab'|trans({}, 'pum') }}
                    </a>
                </li>
                <li class="active">
                    <a href="#ww_beam_edit_schema" data-toggle="tab">
                        {# Relations #}
                        {{ 'ww.beams.edit.relations.tab'|trans({}, 'pum') }}
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="active" id="ww_beam_edit_schema">
                    <div class="row">
                        <div class="col-lg-12 col-offset-auto">
                            {{ pum_macros.alertMessages() }}

                            {{form(form)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
