{% extends "PumWoodworkBundle::layout.html.twig" %}

{% set menu_active = "beams" %}

{% block subsidebar %}
    {% include "PumWoodworkBundle::Beam/includes/sidebar.html.twig" %}
{% endblock %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a href="{{ path('ww_beam_edit', {beamName: beam.name}) }}" class="btn btn-default">{{ 'ww.beams.object.edit.top_btn_back'|trans({}, 'pum') }}</a>
        </div>
        {{ pum_macros.section_title('ww.beams.object.edit.title'|trans({}, 'pum'), null, 'ww.beams.object.edit.subtitle'|trans({ '%name%':'<a href="' ~ path('ww_beam_edit', {beamName: beam.name}) ~ '">' ~ beam.aliasName|pum_ucfirst ~ '</a>' }, 'pum'), [
            {
                href: path('ww_homepage'),
                text: 'common.woodwork.breadcrumb'|trans({}, 'pum')
            },
            {
                href: path('ww_beam_list'),
                text: 'ww.beams.breadcrumb'|trans({}, 'pum')
            },
            {
                href: path('ww_beam_edit', {beamName: beam.name}),
                text: beam.aliasName|pum_ucfirst
            },
            {
                text: 'ww.beams.object.edit.description'|trans({ '%name%':'<strong>' ~ object.aliasName ~ '</strong>' }, 'pum')
            }
        ]) }}
    </div>

    {{ pum_macros.alertMessages() }}

    <div class="row">
        <div class="col-sm-12 col-offset-auto">

            <ul class="nav nav-tabs pum-scheme-tabs">
                <li>
                    <a href="{{ path('ww_object_definition_edit', {beamName: beam.name, name: object.name, type: 'overall'} ) }}">
                        {# Object Definitions #}
                        <i class="pumicon pumicon-stack }}"></i> &nbsp;{{ 'ww.beams.object.overall.tab'|trans({}, 'pum') }}
                    </a>
                </li>
                <li class="active">
                    <a href="#object_relations" data-toggle="tab">
                        {# Relations #}
                        <i class="pumicon pumicon-flow-tree }}"></i> &nbsp;{{ 'ww.beams.object.relations.tab'|trans({}, 'pum') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('ww_object_definition_edit', {beamName: beam.name, name: object.name, type: 'behavior'} ) }}">
                        {# Properties #}
                        <i class="pumicon pumicon-bolt"></i> &nbsp;{{ 'ww.beams.object.behaviors.tab'|trans({}, 'pum') }}
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="object_relations">
                    <div class="row">
                        <div class="col-lg-12 col-offset-auto">
                            {{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
