{% block pa_tableview_columns_row %}
{% spaceless %}
    <table class="table">
        <thead>
            <tr>
                <th>Order</th>
                <th>Column label</th>
                <th>Show</th>
                <th>Associated field</th>
                <th>Associated view</th>
            </tr>
        </thead>
        <tbody>
            {% for child in form %}
                <tr>
                    <td class="col-lg-1">{{ form_widget(child.order) }}</td>
                    <td>{{ form_widget(child.label) }}</td>
                    <td class="col-lg-1">{{ form_widget(child.show) }}</td>
                    <td>{{ form_widget(child.field) }}</td>
                    <td>{{ form_widget(child.view) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endspaceless %}
{% endblock %}

{% block _pa_tableview_default_sort_widget %}
    <table class="table">
        <thead>
            <tr>
                <th>Column</th>
                <th>Order</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ form_widget(form.default_sort_column) }}</td>
                <td>{{ form_widget(form.default_sort_order) }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block pa_tableview_filters_row %}
{% spaceless %}
    <table class="table">
        <thead>
            <tr>
                <th>Column</th>
                <th>Filter</th>
            </tr>
        </thead>
        <tbody>
            {% for child in form %}
                <tr>
                    <td>{{ form_widget(child.column) }}</td>
                    {{ form_widget(child.filter) }}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endspaceless %}
{% endblock %}

{% block pum_filter_default_widget %}
{% spaceless %}
    <td class="col-lg-5">
        {% if form.type is defined and form.value is defined %}
            <div class="input-group input-inline">
                {{ form_widget(form.type)}}
                {{ form_widget(form.value)}}
            </div>
        {% else %}
            {% if form.value is defined %}
                {{ form_widget(form.value)}}
            {% endif %}
        {% endif %}
    </td>
{% endspaceless %}
{% endblock %}

{% block pum_filter_price_widget %}
{% spaceless %}
    <td class="col-lg-6">
        <div class="input-group input-inline">
            {{ form_widget(form.type)}}
            {{ form_widget(form.amount)}}
            {{ form_widget(form.currency)}}
        </div>
    </td>
{% endspaceless %}
{% endblock %}

{% block pa_objectview_columns_row %}
{% spaceless %}
    <table class="table">
        <thead>
            <tr>
                <th>Order</th>
                <th>Column label</th>
                <th>Show</th>
                <th>Associated field</th>
                <th>Associated view</th>
            </tr>
        </thead>
        <tbody>
            {% for child in form %}
                <tr>
                    <td class="col-lg-1">{{ form_widget(child.order) }}</td>
                    <td>{{ form_widget(child.label) }}</td>
                    <td class="col-lg-1">{{ form_widget(child.show) }}</td>
                    <td>{{ form_widget(child.field) }}</td>
                    <td>{{ form_widget(child.view) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endspaceless %}
{% endblock %}
