{% block pa_tableview_column_row %}
{% spaceless %}
    <div class="alert alert-warning">
        {{ 'pa.form.tableview_column.alert_warning'|trans({}, 'pum')|raw }}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'pa.form.tableview_column.table_th_order'|trans({}, 'pum') }}</th>
                <th>{{ 'pa.form.tableview_column.table_th_columnlabel'|trans({}, 'pum') }}</th>
                <th>{{ 'pa.form.tableview_column.table_th_show'|trans({}, 'pum') }}</th>
                <th>{{ 'pa.form.tableview_column.table_th_associatedfield'|trans({}, 'pum') }}</th>
                <th>{{ 'pa.form.tableview_column.table_th_associatedview'|trans({}, 'pum') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for child in form %}
                <tr>
                    <td class="col-lg-1">{{ form_widget(child.order) }}</td>
                    <td>{{ form_widget(child.label) }}</td>
                    <td class="col-lg-1">{{ form_widget(child.show) }}</td>
                    <td>{{ form_widget(child.field) }}</td>
                    <td>{{ form_widget(child.view) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endspaceless %}
{% endblock pa_tableview_column_row %}

{% block pa_tableview_default_sort_widget %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'pa.form.tableview_default_sort.table_th_column'|trans({}, 'pum') }}</th>
                <th>{{ 'pa.form.tableview_default_sort.table_th_order'|trans({}, 'pum') }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ form_widget(form.default_sort_column) }}</td>
                <td>{{ form_widget(form.default_sort_order) }}</td>
            </tr>
        </tbody>
    </table>
{% endblock pa_tableview_default_sort_widget %}

{% block pa_tableview_filter_collection_row %}
{% spaceless %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'pa.form.tableview_filter.table_th_column'|trans({}, 'pum') }}</th>
                <th>{{ 'pa.form.tableview_filter.table_th_filter'|trans({}, 'pum') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for child in form %}
                <tr>
                    <td class="col-lg-6">{{ form_label(child) }}</td>
                    <td>{{ form_widget(child) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endspaceless %}
{% endblock pa_tableview_filter_collection_row %}

{% block pa_tableview_column_widget %}
    {% spaceless %}
        <div class="collection-element panel pum-scheme-panel animated">
            <div class="panel-body type-options">
                {% for child in form %}
                    {{ form_row(child) }}
                {% endfor %}
            </div>
        </div>
    {% endspaceless %}
{% endblock pa_tableview_column_widget %}

{% block pa_tableview_filter_widget %}
    {% spaceless %}
        <div class="collection-element panel pum-scheme-panel">
            <div class="panel-heading {{ (form|length > 1) ? 'form-inline' : '' }}">
                <h4 class="panel-title">
                    {% for child in form %}
                        {{ form_row(child) }}
                    {% endfor %}
                </h4>
            </div>
        </div>
    {% endspaceless %}
{% endblock pa_tableview_filter_widget %}

{% block pum_filter_default_widget %}
{% spaceless %}
    {% if form.type is defined and form.value is defined %}
        <div class="input-group input-inline">
            {{ form_widget(form.type)}}
            {{ form_widget(form.value)}}
        </div>
    {% else %}
        {% if form.value is defined %}
            {{ form_widget(form.value)}}
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endblock pum_filter_default_widget %}

{% block pum_filter_price_widget %}
{% spaceless %}
    <td>
        <div class="input-group input-inline">
            {{ form_widget(form.type)}}
            {{ form_widget(form.amount)}}
            {{ form_widget(form.currency)}}
        </div>
    </td>
{% endspaceless %}
{% endblock pum_filter_price_widget %}


{% block pum_object_entity_widget %}
{% spaceless %}
    {% if expanded %}
        {{ block('choice_widget_expanded') }}
    {% else %}
        {{ block('choice_widget_collapsed') }}
    {% endif %}
    {% if allow_add %}
        <a data-toggle="modal" data-target="#pumModal" class="btn" href="{{ path('pa_object_create', {beamName: constant(class ~ '::PUM_BEAM'), name: constant(class ~ '::PUM_OBJECT') }) }}">{{ 'pa.form.object_entity.btn_add'|trans({}, 'pum') }}</a>
        <br />
    {% endif %}
    {% if allow_select %}
        {{ 'pa.form.object_entity.select'|trans({}, 'pum') }}
    {% endif %}
{% endspaceless %}
{% endblock pum_object_entity_widget %}
