{% extends app.request.xmlHttpRequest ? "PumAppBundle::base.ajax.html.twig" : "PumProjectAdminBundle::layout-beam.html.twig" %}

{% set menu_active  = beam.name %}
{% set object_name  = object_definition|pum_humanize_object_name %}
{% set beam_name    = beam|pum_humanize_beam_name %}
{% set project_name = pum_project()|pum_humanize_project_name %}

{% block content %}

    {# XHR MODE #}
    {% if app.request.xmlHttpRequest %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div class="pum-row-head">
                <div class="pum-action-bar pull-right">
                    {# need to refresh objects list after delete, not the case #}
                    {# {% if is_granted('PUM_OBJ_DELETE', {project: pum_projectName(), beam: beam.name, object:object_definition.name, id: object.id}) %}
                        <a data-cancel="{{ 'pa.object.edit.modal_delete_btn_cancel'|trans({}, 'pum') }}" data-confirm="{{ 'pa.object.edit.modal_delete_btn_confirm'|trans({}, 'pum') }}" data-text='{{ 'pa.object.edit.modal_delete_btn_title'|trans({}, 'pum') }}' href="{{ path('pa_object_delete', {beamName: beam.name, name: object_definition.name, id: object.id}) }}" class="btn btn-danger btn-sm">
                            <i class="pumicon pumicon-remove2"></i>
                            {{ 'pa.object.edit.top_btn_delete'|trans({}, 'pum') }}
                        </a>
                    {% endif %} #}
                    <div class="lead btn-group pull-right">
                        {{ pum_macros.formViewChoices(object_definition.formViews, beam, object_definition, object) }}
                    </div>
                </div>

                {{ pum_macros.section_title('pa.object.edit.title'|trans({'%name%':object_name, '%id%':object.id}, 'pum'), null, 'pa.object.edit.subtitle'|trans({'%name%':object_name, '%id%':object.id}, 'pum'), [
                    {
                        href: path('pa_homepage'),
                        text: project_name
                    },
                    {
                        href: path('pa_beam_show', {beamName: beam.name}),
                        text: beam_name
                    },
                    {
                        href: path('pa_object_list', {beamName: beam.name, name: object_definition.name}),
                        text: object_name
                    },
                    {
                        text: 'pa.object.edit.description'|trans({'%name%':object_name, '%id%':object.id}, 'pum')
                    }
                ]) }}
            </div>
        </div>
        <div class="modal-body">
            {{ pum_macros.alertMessages() }}
            {% include 'PumProjectAdminBundle:Object:edit.content.html.twig' %}
        </div>
    {% else %}
        <div class="pum-row-head">
            <div class="pum-action-bar pull-right">
                <a href="{{ path('pa_object_list', {beamName: beam.name, name: object_definition.name, view: app.request.query.get('tableViewName')|default(null)}) }}" class="btn btn-default">{{ 'pa.object.edit.top_btn_back'|trans({}, 'pum') }}</a>
            </div>
            <div class="pum-action-bar pull-right">
                {% if is_granted('PUM_OBJ_DELETE', {project: pum_projectName(), beam: beam.name, object:object_definition.name, id: object.id}) %}
                    <a data-cancel="{{ 'pa.object.edit.modal_delete_btn_cancel'|trans({}, 'pum') }}" data-confirm="{{ 'pa.object.edit.modal_delete_btn_confirm'|trans({}, 'pum') }}" data-text='{{ 'pa.object.edit.modal_delete_btn_title'|trans({}, 'pum') }}' href="{{ path('pa_object_delete', {beamName: beam.name, name: object_definition.name, id: object.id}) }}" class="btn btn-danger">{{ 'pa.object.edit.top_btn_delete'|trans({}, 'pum') }}</a>
                {% endif %}
            </div>

            {{ pum_macros.section_title('pa.object.edit.title'|trans({'%name%':object_name, '%id%':object.id}, 'pum'), null, 'pa.object.edit.subtitle'|trans({'%name%':object_name, '%id%':object.id}, 'pum'), [
                {
                    href: path('pa_homepage'),
                    text: project_name
                },
                {
                    href: path('pa_beam_show', {beamName: beam.name}),
                    text: beam_name
                },
                {
                    href: path('pa_object_list', {beamName: beam.name, name: object_definition.name}),
                    text: object_name
                },
                {
                    text: 'pa.object.edit.description'|trans({'%name%':object_name, '%id%':object.id}, 'pum')
                }
            ]) }}
        </div>

        {{ pum_macros.alertMessages() }}
        <div class="clearfix">
            <div class="lead btn-group pull-right">
                {{ pum_macros.formViewChoices(object_definition.formViews, beam, object_definition, object) }}
            </div>
        </div>

        {% include 'PumProjectAdminBundle:Object:edit.content.html.twig' %}
    {% endif %}
{% endblock %}
