{% extends "PumProjectAdminBundle::layout-beam.html.twig" %}

{% set menu_active = beam.name %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a data-cancel="Cancel" data-confirm="Delete" data-text='Are you sure to delete this item from "{{ object_definition.name|humanize|title }}" ?' href="{{ path('pa_object_delete', {beamName: beam.name, name: object_definition.name, id: object.id}) }}" class="btn btn-danger">Delete</a>
        </div>
        <div class="pum-action-bar pull-right">
            <a href="{{ path('pa_object_list', {beamName: beam.name, name: object_definition.name}) }}" class="btn btn-default">Back to list</a>
        </div>
        {{ pum_macros.section_title('Edit ' ~ object_definition.name ~ ' #' ~ object.id, 'Edit <strong>' ~ object_definition.name|humanize|title ~' #' ~ object.id ~ '</strong>', null, [
            {
                href: path('pa_homepage'),
                text: pum_project().name|humanize|title
            },
            {
                href: path('pa_beam_show', {beamName: beam.name}),
                text: beam.name|humanize|title
            },
            {
                href: path('pa_object_list', {beamName: beam.name, name: object_definition.name}),
                text: object_definition.name|humanize|title
            },
            {
                text: 'Editing #' ~ object.id
            }
        ]) }}
    </div>
    {{ pum_macros.alertMessages() }}
    <div class="lead btn-group pull-right">
        {{ pum_macros.formViewChoices(object_definition.formViews, beam, object_definition, object) }}
    </div>
    {{ form(form) }}
{% endblock %}
