{% extends "PumProjectAdminBundle::layout-beam.html.twig" %}

{% set menu_active = beam.name %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a href="{{ path('pa_object_list', {beamName: beam.name, name: object_definition.name, view: app.request.query.get('tableViewName')|default(null)}) }}" class="btn btn-default">{{ 'pa.object.edit.top_btn_back'|trans({}, 'pum') }}</a>
        </div>
        <div class="pum-action-bar pull-right">
            {% if is_granted('PUM_OBJ_DELETE', {project: pum_projectName(), beam: beam.name, object:object_definition.name, id: object.id}) %}
                <a data-cancel="{{ 'pa.object.edit.modal_delete_btn_cancel'|trans({}, 'pum') }}" data-confirm="{{ 'pa.object.edit.modal_delete_btn_confirm'|trans({}, 'pum') }}" data-text='{{ 'pa.object.edit.modal_delete_btn_title'|trans({}, 'pum') }}' href="{{ path('pa_object_delete', {beamName: beam.name, name: object_definition.name, id: object.id}) }}" class="btn btn-danger">{{ 'pa.object.edit.top_btn_delete'|trans({}, 'pum') }}</a>
            {% endif %}
        </div>

        {{ pum_macros.section_title('pa.object.edit.title'|trans({'%name%':object_definition.aliasName|humanize|pum_ucfirst, '%id%':object.id}, 'pum'), null, 'pa.object.edit.subtitle'|trans({'%name%':object_definition.aliasName|humanize|pum_ucfirst, '%id%':object.id}, 'pum'), [
            {
                href: path('pa_homepage'),
                text: pum_project().name|pum_ucfirst
            },
            {
                href: path('pa_beam_show', {beamName: beam.name}),
                text: beam.aliasName|pum_ucfirst
            },
            {
                href: path('pa_object_list', {beamName: beam.name, name: object_definition.name}),
                text: object_definition.aliasName|humanize|pum_ucfirst
            },
            {
                text: 'pa.object.edit.description'|trans({'%name%':object_definition.aliasName|humanize|pum_ucfirst, '%id%':object.id}, 'pum')
            }
        ]) }}
    </div>

    {{ pum_macros.alertMessages() }}
    <div class="clearfix">
        <div class="lead btn-group pull-right">
            {{ pum_macros.formViewChoices(object_definition.formViews, beam, object_definition, object) }}
        </div>
    </div>

    {% include 'PumProjectAdminBundle:Object:edit.content.html.twig' %}

{% endblock %}
