{% extends "PumProjectAdminBundle::layout-beam.html.twig" %}

{% set menu_active = beam.name %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            {% if is_granted('ROLE_PA_EDIT') %}
                <a href="{{ path('pa_object_create', {beamName: beam.name, name: object_definition.name}) }}" class="btn pum-scheme-btn-darkgrass"><i class="pumicon pumicon-plus-3"></i>Create a {{ object_definition.name|humanize|title }}</a>
            {% endif %}
        </div>
        {{ pum_macros.section_title(beam.name|title, 'List of <strong>' ~ object_definition.name|humanize|title ~'</strong>', null, [
            {
                href: path('pa_homepage'),
                text: pum_project().name|humanize|title
            },
            {
                href: path('pa_beam_show', {beamName: beam.name}),
                text: beam.name|humanize|title
            },
            {
                text: object_definition.name|humanize|title
            }
        ]) }}
    </div>

    <div class="lead btn-group pull-right">
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">{{ pager.maxPerPage }} items per page<span class="caret"></span></button>
        <ul role="menu" class="dropdown-menu">
            {% for number in pagination_values %}
                <li><a class="pagination-changer" data-value="{{ number }}" href="?{{ {'per_page': number}|url_encode }}">{{ number }} items per page</a></li>
            {% endfor %}
        </ul>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                {% for field in object_definition.fields %}
                    <th>{{ field.name }}</th>
                {% endfor %}
                {% if is_granted('ROLE_PA_EDIT') or is_granted('ROLE_PA_DELETE') %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in pager %}
                <tr>
                    <td>{{ row.get('id') }}</td>
                    {% for field in object_definition.fields %}
                        <td>{{ pum_view_field(row, field.name) }}</td>
                    {% endfor %}
                    {% if is_granted('ROLE_PA_EDIT') or is_granted('ROLE_PA_DELETE') %}
                        <td>
                            {% if is_granted('ROLE_PA_EDIT') %}
                                <a href="{{ path('pa_object_edit', {beamName: beam.name, name: object_definition.name, id: row.get('id')}) }}" class="btn btn-success btn-sm">Edit</a>
                                <a href="{{ path('pa_object_clone', {beamName: beam.name, name: object_definition.name, id: row.get('id')}) }}" class="btn btn-warning btn-sm">Clone</a>
                            {% endif %}
                            {% if is_granted('ROLE_PA_DELETE') %}
                                <a href="{{ path('pa_object_delete', {beamName: beam.name, name: object_definition.name, id: row.get('id')}) }}" class="btn btn-danger btn-sm" data-cancel="Cancel" data-confirm="Delete" data-text='Are you sure to delete this entry ?'>Delete</a>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if pager.haveToPaginate %}
        {{ pum_macros.pager(pager) }}
    {% endif %}
{% endblock %}
