{% extends "PumProjectAdminBundle::layout-beam.html.twig" %}

{% set menu_active = beam.name %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            {% if is_granted('ROLE_PA_EDIT') %}
                <a href="{{ path('pa_object_create', {beamName: beam.name, name: object_definition.name}) }}" class="btn pum-scheme-btn-darkgrass"><i class="pumicon pumicon-plus6"></i>Create a {{ object_definition.name|humanize|title }}</a>
            {% endif %}
        </div>
        {{ pum_macros.section_title(beam.name|title, 'List of <strong>' ~ object_definition.name|humanize|title ~'</strong>', null, [
            {
                href: path('pa_homepage'),
                text: pum_project().name|humanize|title
            },
            {
                href: path('pa_beam_show', {beamName: beam.name}),
                text: beam.name|humanize|title
            },
            {
                text: object_definition.name|humanize|title
            }
        ]) }}
    </div>

    {{ pum_macros.alertMessages() }}

    <div class="clearfix">
        <div class="lead btn-group">
            <button data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle" type="button">Actions <span class="caret"></span></button>
            <ul role="menu" class="dropdown-menu">
                <li>
                    <a href="#" title="Delete selected entities" data-type="submit" data-form-id="entititesList" data-cancel="Cancel" data-confirm="Delete" data-text='Are you sure to delete selected entities ?'>
                        Delete selected items
                    </a>
                </li>
                {% if is_granted('ROLE_PA_DELETE') %}
                    <li class="divider"></li>
                    <li>
                        <a href="{{ path('pa_object_deleteall', {beamName: beam.name, name: object_definition.name}) }}" class="text-danger" data-cancel="Cancel" data-confirm="Delete all" data-text='Are you sure to delete all {{ object_definition.name|humanize|title }} ?'>Delete all</a>
                    </li>
                {% endif %}
            </ul>
        </div>

        <div class="lead btn-group">
            <button class="btn btn-inverse btn-sm" type="button" data-type="submit" data-form-id="form_filter" data-text="Filters" data-cancel="Cancel" data-confirm="Apply" data-content="{{ form(form_filter)|e('html') }}" data-cta="pum_decorateCollection">Filters</button>
        </div>

        <div class="lead btn-group  pull-right">
            {{ pum_macros.viewChoices(object_definition.tableViews, beam, object_definition) }}
        </div>

        <div class="lead btn-group pull-right">
            {{ pum_macros.paginationChoices(pager.maxPerPage, pagination_values) }}
        </div>
    </div>

    <form id="entititesList" method="POST" action="{{ path('pa_object_delete_list', app.request.query.all|sort|merge({beamName: beam.name, name: object_definition.name})) }}">
        <table class="table">
            <col width="50" />
            <thead>
                <tr>
                    <th class="text-center is_checkable"><input type="checkbox" value="all" /></th>
                    <th class="header">
                        {{ pum_macros.sort('id', 'ID', sort, order) }}
                    </th>
                    {% for column in table_view.columns %}
                        <th class="header">
                            {{ pum_macros.sort(column.label, column.field.name, sort, order) }}
                        </th>
                    {% endfor %}
                    {% if is_granted('ROLE_PA_EDIT') or is_granted('ROLE_PA_DELETE') %}
                        <th class="pum-schemed_cell">
                            <div class="pum-schemed_cell_wrapper">
                                <i class="pumicon pumicon-settings2 hidden-xs"></i>
                                Actions
                            </div>
                        </th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if pager.getNbResults == 0 %}
                    <tr><td colspan="{{ object_definition.fields|length }}">No {{ object_definition.name|humanize|title }} found</td></tr>
                {% endif %}
                {% for row in pager %}
                    <tr>
                        <td class="text-center is_checkable"><input name="entities[]" type="checkbox" value="{{ row.id }}" /></td>
                        <td>{{ row.id }}</td>
                        {% for column in table_view.columns %}
                            <td>{{ pum_view_field(row, column.field.name, 'tableview') }}</td>
                        {% endfor %}
                        {% if is_granted('ROLE_PA_EDIT') or is_granted('ROLE_PA_DELETE') %}
                            <td>
                                <a href="{{ path('pa_object_view', {beamName: beam.name, name: object_definition.name, id: row.id, tableViewName: table_view.name}) }}" class="btn btn-inverse btn-sm">View</a>
                                {% if is_granted('ROLE_PA_EDIT') %}
                                    <a href="{{ path('pa_object_edit', {beamName: beam.name, name: object_definition.name, id: row.id, tableViewName: table_view.name}) }}" class="btn pum-scheme-btn-darkgrass btn-sm">Edit</a>
                                    <a href="{{ path('pa_object_clone', {beamName: beam.name, name: object_definition.name, id: row.id}) }}" class="btn btn-warning btn-sm">Clone</a>
                                {% endif %}
                                {% if is_granted('ROLE_PA_DELETE') %}
                                    <a href="{{ path('pa_object_delete', app.request.query.all|sort|merge({beamName: beam.name, name: object_definition.name, id: row.id})) }}" class="btn btn-danger btn-sm" data-cancel="Cancel" data-confirm="Delete" data-text='Are you sure to delete this entry ?'>Delete</a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pum-action-bar">
            <i class="pumicon pumicon-arrow2 icon-medium text-muted"></i>
            <button type="button" class="btn btn-small btn-danger" title="Delete selected entities" data-type="submit" data-form-id="entititesList" data-cancel="Cancel" data-confirm="Delete" data-text='Are you sure to delete selected entities ?'>Delete</button>
            {# <button type="button" class="btn btn-small btn-warning">Clone</button> #}
        </div>
    </form>

    {% if pager.haveToPaginate %}
        {{ pum_macros.pager(pager) }}
    {% endif %}
{% endblock %}
