{% extends app.request.xmlHttpRequest ? "PumAppBundle::base.ajax.html.twig" : "PumProjectAdminBundle::layout-beam.html.twig" %}

{% set menu_active = beam.name %}

{% block content %}
    {# XHR MODE #}
    {% set object_name  = object_definition|pum_humanize_object_name %}
    {% set beam_name    = beam|pum_humanize_beam_name %}
    {% set project_name = pum_project()|pum_humanize_project_name %}

    {% if app.request.xmlHttpRequest %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div class="pum-row-head">
                <div class="pum-action-bar pull-right">
                    {% if is_granted('PUM_OBJ_EDIT', {project: pum_projectName(), beam: beam.name, object:object_definition.name, id: object.id}) %}
                        <div class="btn-group">
                            <a href="{{ path('pa_object_edit', {beamName: beam.name, name: object_definition.name, id: object.id}) }}" class="btn pum-scheme-btn-darkgrass btn-sm yaah-js" data-target="#pumAjaxModal" data-ya-target="#pumAjaxModal .modal-content" data-ya-location="inner" data-remote="false"><i class="pumicon pumicon-pencil"></i> {{ 'pa.object.view.top_btn_edit'|trans({}, 'pum') }}</a>
                            <button type="button" class="btn pum-scheme-btn-darkgrass btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path('pa_object_clone', {beamName: beam.name, name: object_definition.name, id: object.id}) }}" class="text-warning yaah-js" data-target="#pumAjaxModal" data-ya-target="#pumAjaxModal .modal-content" data-ya-location="inner" data-remote="false"><i class="pumicon pumicon-copy"></i> {{ 'pa.object.view.top_btn_clone'|trans({}, 'pum') }}</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="pum-action-bar pull-right">
                    <div class="lead btn-group">
                        {{ pum_macros.formViewChoices(object_definition.formViews, beam, object_definition, object) }}
                    </div>
                </div>
                {{ pum_macros.section_title('pa.object.view.title'|trans({'%name%':object_name, '%id%':object.id}, 'pum'), null, 'pa.object.view.subtitle'|trans({'%name%':object_name, '%id%':object.id}, 'pum'), [
                    {
                        href: path('pa_homepage'),
                        text: project_name
                    },
                    {
                        href: path('pa_beam_show', {beamName: beam.name}),
                        text: beam_name
                    },
                    {
                        href: path('pa_object_list', {beamName: beam.name, name: object_definition.name}),
                        text: object_name
                    },
                    {
                        text: 'pa.object.view.description'|trans({'%name%':object_name, '%id%':object.id}, 'pum')
                    }
                ]) }}
            </div>
        </div>
        <div class="modal-body">
            {{ pum_macros.alertMessages() }}
            {% include 'PumProjectAdminBundle:Object:view.content.html.twig' %}
        </div>
    {% else %}
        <div class="pum-row-head">
            <div class="pum-action-bar pull-right">
                <a href="{{ path('pa_object_list', {beamName: beam.name, name: object_definition.name, view: app.request.query.get('tableViewName')|default(null)}) }}" class="btn btn-default">{{ 'pa.object.view.top_btn_back'|trans({}, 'pum') }}</a>
            </div>
            <div class="pum-action-bar pull-right">
                {% if is_granted('PUM_OBJ_EDIT', {project: pum_projectName(), beam: beam.name, object:object_definition.name, id: object.id}) %}
                    <a href="{{ path('pa_object_edit', {beamName: beam.name, name: object_definition.name, id: object.id}) }}" class="btn pum-scheme-btn-darkgrass">{{ 'pa.object.view.top_btn_edit'|trans({}, 'pum') }}</a>
                    <a href="{{ path('pa_object_clone', {beamName: beam.name, name: object_definition.name, id: object.id}) }}" class="btn btn-warning">{{ 'pa.object.view.top_btn_clone'|trans({}, 'pum') }}</a>
                {% endif %}
            </div>
            {{ pum_macros.section_title('pa.object.view.title'|trans({'%name%':object_name, '%id%':object.id}, 'pum'), null, 'pa.object.view.subtitle'|trans({'%name%':object_name, '%id%':object.id}, 'pum'), [
                {
                    href: path('pa_homepage'),
                    text: project_name
                },
                {
                    href: path('pa_beam_show', {beamName: beam.name}),
                    text: beam_name
                },
                {
                    href: path('pa_object_list', {beamName: beam.name, name: object_definition.name}),
                    text: object_name
                },
                {
                    text: 'pa.object.view.description'|trans({'%name%':object_name, '%id%':object.id}, 'pum')
                }
            ]) }}
        </div>

        {{ pum_macros.alertMessages() }}

        <div class="clearfix">
            <div class="lead btn-group pull-right">
                {{ pum_macros.objectViewChoices(object_definition.objectViews, beam, object_definition, object) }}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-offset-auto">
                {% include 'PumProjectAdminBundle:Object:view.content.html.twig' %}
            </div>
        </div>
    {% endif %}
{% endblock %}
