{% extends "PumProjectAdminBundle::layout-beam.html.twig" %}

{% set menu_active = beam.name %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a href="{{ path('pa_object_list', {beamName: beam.name, name: object_definition.name}) }}" class="btn btn-default">Back to list</a>
        </div>
        {{ pum_macros.section_title('View ' ~ object_definition.name ~ ' #' ~ object.id, 'View <strong>' ~ object_definition.name|humanize|title ~' #' ~ object.id ~ '</strong>', null, [
            {
                href: path('pa_homepage'),
                text: pum_project().name|humanize|title
            },
            {
                href: path('pa_beam_show', {beamName: beam.name}),
                text: beam.name|humanize|title
            },
            {
                href: path('pa_object_list', {beamName: beam.name, name: object_definition.name}),
                text: object_definition.name|humanize|title
            },
            {
                text: 'Viewing #' ~ object.id
            }
        ]) }}
    </div>
    
    {{ pum_macros.alertMessages() }}

    <div class="lead btn-group  pull-right">
        {{ pum_macros.objectViewChoices(object_definition.objectViews, beam, object_definition, object) }}
    </div>

    <table class="table">
        {% for columnName in object_view.columnNames %}
        
            <tr>
                <td>{{ columnName|title }}</td>
                <td><span class="badge">{{ pum_view_field(object, object_view.columnField(columnName)) }}</span></td>
            </tr>
        
        {% endfor %}
    </table>
{% endblock %}
