{% extends "PumProjectAdminBundle::layout-beam.html.twig" %}

{% set menu_active = beam.name %}

{% block content %}
    <div class="pum-row-head">
        <div class="pum-action-bar pull-right">
            <a href="{{ path('pa_object_list', {beamName: beam.name, name: object_definition.name, view: app.request.query.get('tableViewName')|default(null)}) }}" class="btn btn-default">Back to list</a>
        </div>
        <div class="pum-action-bar pull-right">
            {% if is_granted('ROLE_PA_EDIT') %}
                <a href="{{ path('pa_object_edit', {beamName: beam.name, name: object_definition.name, id: object.id}) }}" class="btn pum-scheme-btn-darkgrass">Edit</a>
                <a href="{{ path('pa_object_clone', {beamName: beam.name, name: object_definition.name, id: object.id}) }}" class="btn btn-warning">Clone</a>
            {% endif %}
        </div>
        {{ pum_macros.section_title('View ' ~ object_definition.name|humanize|pum_ucfirst ~ ' #' ~ object.id, 'View <strong>' ~ object_definition.name|humanize|pum_ucfirst ~' #' ~ object.id ~ '</strong>', null, [
            {
                href: path('pa_homepage'),
                text: pum_project().name|pum_ucfirst
            },
            {
                href: path('pa_beam_show', {beamName: beam.name}),
                text: beam.name|pum_ucfirst
            },
            {
                href: path('pa_object_list', {beamName: beam.name, name: object_definition.name}),
                text: object_definition.name|humanize|pum_ucfirst
            },
            {
                text: 'Viewing #' ~ object.id
            }
        ]) }}
    </div>

    {{ pum_macros.alertMessages() }}

    <div class="clearfix">
        <div class="lead btn-group pull-right">
            {{ pum_macros.objectViewChoices(object_definition.objectViews, beam, object_definition, object) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-offset-auto">
            <table class="table table-bordered">
                <col width="33%" />
                <col width="66%" />
                <tbody>
                {% for row in object_view.getFields %}
                    <tr>
                        <th class="text-right">{{ row.label }}</th>
                        <td>
                            {{ pum_view_field(object, row.field.name, 'objectview') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
